[2015-09-27 18:35] hydroflame opened #13 "Test don't pass on OSX 10.10.5"
--- FAIL: TestSelf (0.00s)
    	proc_test.go:13: could not read /proc: stat /proc: no such file or directory
    --- FAIL: TestFileDescriptors (0.00s)
    	proc_test.go:102: could not read /proc: stat /proc: no such file or directory
    --- FAIL: TestFileDescriptorTargets (0.00s)
    	proc_test.go:149: could not read /proc: stat /proc: no such file or directory
    FAIL
    FAIL	github.comcast.co

[2015-09-28 05:52] grobie commented on #13
OSX/darwin does not have a procfs, that's why these tests fail. I guess the point can be made that this dependency is not strictly necessary for tests, so I removed it in #14.

[2015-09-28 17:39] #13 closed

[2016-04-11 15:01] ngothan opened #23 "harcoding pagesize in proc_stat_test.go causes build failure on ppc64"
there's hardcoding of pagesize 4096 `in proc_stat_test.go` which causes build failure on `ppc64`.
The pagesize is `64k` on `ppc64`. It should use the `os.Getpagesize()` to get the correct pagesize instead hardcoding.

[code]

[2016-04-11 15:39] juliusv commented on #23
@ngothan Thanks, makes sense! Do you want to send a PR with the patch above?

[2016-04-11 16:39] ngothan commented on #23
Julius, feel free to commit my patch above into github

[2016-04-11 16:43] juliusv commented on #23
@ngothan Thanks, done: https://github.com/prometheus/procfs/pull/24

[2016-04-11 16:51] #23 closed

[2016-06-01 21:57] stgleb opened #25 "Stats.NumThreads gives wrong value"
I'm using procfs for observing number of threads spawned by current process and simultaneously looking to procfs by simple cat /proc/<pid>/status|grep Thread.
When count of threads if pretty low (under 100) results are the same. But when accoring to data extracted by cat from proc are pretty high (a few hundreds) then procfs library gives me 0. What is the reason of such inconsistency?

Source cod

[2016-08-19 00:49] m0untains opened #28 "Request: Expose hard limits as well"
It would be useful to expose both soft and hard limits in proc_limits.go. I've run across a number of systems / processes where these values differ for "Max open files".

[2016-08-19 08:01] brian-brazil commented on #28
It's not unusual for the limits to be different, it's the soft limit that applies though.

[2016-08-20 19:22] grobie commented on #28
@or4cle What's your use case? As Brian said, the soft limit is the limit, the hard limit only specifies how far a normal user can increase the limit.

[2016-08-30 14:08] sinzui opened #29 "debian packging warns source-contains-unsafe-symlink"
A run of
    lintian -I --pedantic
across the package reveals
    E: juju-core source: source-contains-unsafe-symlink src/github.com/prometheus/procfs/fixtures/26231/exe

Anyone packaging this project needs to delete the fixtures directory, but then the tests cannot be run.

[2016-08-31 18:23] grobie commented on #29
We could create the file on-the-fly, maybe during `make test`. I guess it'd make more sense to remove the test data from debian packages though.

[2016-08-31 18:44] sinzui commented on #29
We did remove the fixtures directory from the source to make the package acceptable for Ubuntu. Now it isn't possible to run the tests. the ideal solution is for the test suite to create the symlink as needed.

[2016-09-01 20:55] TheTincho commented on #29
@sinzui, actually, that file is correct there, and you need to add a lintian override.

having said that, there is no need to package this for ubuntu, it is been in debian for quite some time: https://packages.qa.debian.org/g/golang-procfs.html

[2016-09-01 21:01] grobie commented on #29
Thanks @TheTincho. Closing this as I trust you in all questions around Debian packages.

[2016-09-01 21:01] #29 closed

[2016-12-08 21:44] ansel1 opened #32 "fixtures folder contains dangerous symlinks"
I vender this in another project, which is `scp`'d up to an AWS instance during a packer build.  Noticed my build started bombing because scp was complaining about copying the funky symlinks in the fixtures folder, like `self/exe` etc.

[2017-02-09 17:37] mdlayher opened #35 "Parse XFS stats"
Looks like there could be some useful information in here:

[code]

Feel free to assign this to me. To be done for https://github.com/prometheus/node_exporter/issues/456.

[2017-02-14 01:15] mdlayher opened #37 "Many files missing license header"
Just noticed this when @grobie asked me to put license headers on my XFS files in #36 .

We use a pretty rudimentary shell script check in go-qemu to verify each Go source file has a license.

https://github.com/digitalocean/go-qemu/blob/master/scripts/licensecheck.sh

 It would probably be a good idea to set up something similar in this repo, and other Prometheus repos.

[2017-02-14 01:42] #35 closed

[2017-02-14 02:17] grobie commented on #37
See https://github.com/prometheus/prometheus/blob/master/scripts/check_license.sh as well. I guess we should open the discussion how/where to manage such scripts.

[2017-02-15 16:55] mdlayher opened #38 "Add support for parsing /proc/crypto"
This shows which cryptographic algorithms are available in the kernel, and which are being used.

[code]

Seems like it'd probably be useful for some work I'm doing.  Maybe not as much in a metrics context, outside of the "reference count" field.

Feel free to assign to me.

[2017-02-15 16:57] brian-brazil commented on #38
This doesn't seem like metrics data, it's getting more into fleet management.

[2017-02-15 17:47] mdlayher commented on #38
Since the package description has no mention of metrics data, does that mean it is (or is not) okay to add functions that parse `/proc` files that don't provide useful metrics?

[2017-02-15 17:50] brian-brazil commented on #38
That's fine in procfs currently, though if it gets to be a big burden we may need to split it out or something.

[2017-04-19 09:51] filippog opened #40 "Parse ipv6 addresses in ipvs backend status"
We are running `ipvs` collector from `node_exporter` on a machine receiving ipv6 traffic too, though `node_exporter` 0.13 fails with this:

[code]

And the `/proc/net/ip_vs` file looks like this (after redacting the addresses)

[code]

[2017-04-20 12:08] SuperQ commented on #40
Interesting, what kernel version are you using?  The current code parses IPv6 via the same hex format.

[2017-04-20 12:10] SuperQ commented on #40
@matthiasr, where did you find the sample of a `/proc/net/ip_vs` that contained an IPv6 in the format of `DEADBEEF000000000000000000000001:1F90`?

[2017-04-21 09:44] matthiasr commented on #40
I don't remember I'm afraid. I hope I configured this on some machine and this is what I got …

[2017-04-21 09:49] matthiasr commented on #40
Actually, reading prometheus/node_exporter#67 I don't think I did. I had no IPv6 example to work off and it probably never worked this way.

[2017-04-21 09:52] matthiasr commented on #40
Paging @juliusv who, if I remember correctly, had a hand or two in the IPv6 support for IPVS :)

[2017-04-21 20:46] grobie opened #43 "Consolidate fixtures structure"
So the current fixtures structure doesn't make too much sense. It's mixing "root" level files/folders like `stat` with special purpose subdirectories (like `buddyinfo/short/buddinfo`). I was thinking about moving all "root" files into a `default` subdirectory so that we'd end up with `fixtures/{default,specialcasedir,likebuddyinfo}/actualpath`. Given we support now both procfs and sysfs, maybe it

[2017-04-21 20:53] grobie opened #44 "Consolidate method/function names"
The current naming is not stringent nor idiomatic.

From @mdlayher

It might make sense to just use the procfs names wherever possible.

[2017-04-21 20:58] mdlayher commented on #43
I like your idea of doing `fixtures/{proc,sys}` instead of hacking in another `fixtures/` like I did for `sysfs`.

I didn't realize there were "malformed" fixtures in the folder.  To me, it makes the most sense to:
- have malformed data present inline with the tests (and use it to test the internal parsing functions)
- have correct data present in fixture files (and use it to test the path travers

[2017-04-21 20:59] mdlayher commented on #43
I think I hinted at this, but I'd like to explicitly mention that whatever lives under `fixtures/{proc,sys}` should actually exist in a real Linux system.

[2017-04-21 21:01] mdlayher commented on #44
I'd also like to suggest that we get rid of constructor functions like `NewBuddyInfo` in favor of methods like: `FS.BuddyInfo`, because:
- it will shrink the API surface
- it will reduce redundancy
- it will enable much easier testing

[2017-04-21 21:05] grobie commented on #44
@mdlayher You mean all package level shorthand methods? Even `Self()`?

[2017-04-21 21:09] mdlayher commented on #44
Good question. I suppose it depends how much some of them are used.  While they may be convenient, I imagine that most applications will want to construct a `FS` instance anyway for testing that doesn't only work on Linux machines.

[2017-04-23 15:21] SuperQ opened #46 "Add support for parsing /sys/class/thermal/"
Add support for parsing the generic thermal device tree[0] in `/sys/class/thermal/`.

[0]: https://www.kernel.org/doc/Documentation/thermal/sysfs-api.txt

[2017-04-24 09:01] filippog commented on #40
@SuperQ these machines run a mix of `4.4` and `4.9` though IIRC we've seen the same with older kernels e.g. `3.16`

[2017-04-24 19:30] juliusv commented on #40
@matthiasr I didnt touch this procfs file back then, but I added a Generic Netlink interface to read and write IPVS configs (which was needed because the old sockopt-based interface couldn't accommodate v6 addresses). You can take a look at what the Netlink interface looks like today, maybe it can give you the same answers: https://github.com/torvalds/linux/blob/ca78d3173cff3503bcd15723b049757f757

[2017-04-25 16:44] matthiasr commented on #40
Hokay, I have no idea what how to read those 😆

If the `[aaaa:bbbb:…]` format is what actually exists in the wild I'm inclined to just roll with it

[2017-04-25 18:40] juliusv commented on #40
SGTM

[2017-05-02 13:06] #40 closed

[2017-05-04 14:10] filippog commented on #40
Confirmed working, thanks a lot @matthiasr ! I've opened prometheus/node_exporter#576 to add this to `node_exporter`

[2017-06-08 09:17] davidwudv opened #52 "cannot find package "github.com/prometheus/procfs/xfs""

[2017-06-08 10:02] SuperQ commented on #52
For usage questions on building, please contact our [commnity](https://prometheus.io/community/).

[2017-06-08 10:02] #52 closed

[2017-06-09 11:28] qoke opened #53 "Commit fdb70a7 breaks golang_client on Windows"
Commit fdb70a78745a8df006f953b8bab85597d96b2e0e breaks pulling master golang_client on Windows due to unsupported windows filenames in prometheus/procfs/sysfs/fixtures/devices/pci0000:00/0000:00:0d.0

I'm guessing its the colons ":" in the filenames, as the git error is:

[code]

[2017-06-09 11:33] twinj opened #54 "bcache folders breaks transtive imports to windows"
#51 The folders in the repo cannot be created on a windows machine when checking out the head.

` git clone https://github.com/prometheus/procfs I:\tools\go\path\src\github.com\prometheus\procfs
Cloning into 'I:\tools\go\path\src\github.com\prometheus\procfs'...
fatal: cannot create directory at 'sysfs/fixtures/devices/pci0000:00': Invalid argument
warning: Clone succeeded, but checkout failed.
Yo

[2017-06-09 11:45] grobie commented on #54
@twinj I assume the colons in the filenames are the issue?

@ideaship Ugh, we need to find a solution. Any ideas? First things coming to my mind:

* package all fixtures in a tarball/zip/something and unpack before running tests (Makefile?). Makes diff very cumbersome
* Rename all fixture files removing characters invalid on Windows, rename before running tests
* Combine all fixture files in one t

[2017-06-09 11:47] twinj commented on #54
Aye. The colon.

And these too. `/ ? < > \ : * | "`

[2017-06-09 11:49] grobie commented on #54
I won't be available until Monday, feel free to merge a solution @SuperQ @discordianfish @brian-brazil

[2017-06-09 11:53] grobie commented on #54
Something like https://github.com/jtvaughan/ptar might be cool.

[2017-06-09 11:56] grobie commented on #53
While you were the first to open the issue, there is already a discussion on #54. Closing as duplicate.

[2017-06-09 11:56] #53 closed

[2017-06-09 12:07] ideaship commented on #54
@grobie ptar seems to be a rather exotic addition to the test requirements.

I don't see a good solution. I find renaming the fixture files just before running the tests the least bad of the bunch because the part that is annoying can be automated. We could simply replace colons with some other character (just in the directory tree where it is necessary), or have an additional files to map real na

[2017-06-09 12:25] grobie commented on #54
Agreed in general. Tried a rename approach, but ran into issues as renames need to happen in the right order (colons are included in both directory names and file names) and I couldn't immediately come up with a solution working with standard tooling. As I'm running out of time and won't be available during the next days, I put together a quick fix in #55.

@ideaship More than happy to accept a ni

[2017-06-09 12:32] #54 closed

[2017-06-09 12:32] grobie commented on #54
Fixed with a tarball quickfix. Open for better solutions @mdlayher @ideaship.

[2017-06-09 12:34] ideaship commented on #54
@grobie Looks like the best quick fix. I'd take it.

[2017-06-20 01:08] F21 opened #57 "sysfs/fixtures filenames are too long"
Trying to install ` github.com\prometheus\client_golang\prometheus` using glide which has `procfs` as a dependency.

The install fails on windows because `sysfs/fixtures` contains subfolders with long filenames:

[code]

ref #55 #56

[2017-06-20 01:49] F21 commented on #57
Work around:
- Enable long paths on Windows (requires Windows 10 Anniversary Update or newer): https://superuser.com/questions/1119883/windows-10-enable-ntfs-long-paths-policy-option-missing
- Configure git to use long paths: `git config --global core.longpaths true` (globally) or `git config core.longpaths true` (per project)

[2017-06-20 03:27] F21 commented on #57
Still having issues after using the workaround:

[code]

[2017-06-20 06:05] ideaship commented on #57
65 chars: `C:\Users\user\.glide\cache\src\https-github.com-prometheus-procfs`
192 chars: `sysfs/fixtures.src/devices/pci0000_@colon@_00/0000_@colon@_00_@colon@_0d.0/ata4/host3/target3_@colon@_0_@colon@_0/3_@colon@_0_@colon@_0_@colon@_0/block/sdb/bcache/stats_day/cache_bypass_misses`
194 chars: `sysfs/fixtures.src/devices/pci0000_@colon@_00/0000_@colon@_00_@colon@_0d.0/ata4/host3/target3_@colon@_0_

[2017-06-20 06:10] grobie commented on #57
Let's just use a comma inst of `_@colon@_`. @F21 Could you check whether that's ok?

[2017-06-20 06:12] F21 commented on #57
I think the length issue can be easily solved if you're on Windows 10. See my comment here: https://github.com/prometheus/procfs/issues/57#issuecomment-309621270

I tried using glide and dep and they both had the same issue with `chmod`. I had some discussions with @sdboyer and he reckons `os.Chmod()` might not be cross platform. I have a feeling that the main culprit is probably the `@` causing t

[2017-06-20 06:14] F21 commented on #57
@grobie If a comma works for you guys, it should be cool :) However, I am not sure whether `os.Chmod()` will work correctly with commas. Have you guys thought about using a dash (`-`)?

[2017-06-20 06:15] grobie commented on #57
I'd be afraid to use a dash as replacement separator, it's too common in filenames.

[2017-06-20 06:16] F21 commented on #57
How about two underscores: `__colon__`?

[2017-06-20 06:17] grobie commented on #57
That's still making filenames very long. I don't think it's reasonable to expect everyone checking out the repository on Windows to have Windows 10 and able to change their filesystem configuration.

[2017-06-20 06:18] grobie commented on #57
I meant a literal comma `,`.

[2017-06-20 06:21] F21 commented on #57
Ah, I see. I think a comma should be fine as I do have files with commas in them on the filesystem and they seem to work fine.

[2017-06-20 06:26] grobie commented on #57
Thanks so much for reporting and being so responsive @F21. I'll put something together, given I don't have access to a Windows node, would you be able to test another fix for us?

[2017-06-20 06:28] ideaship commented on #57
Every single character is a liability going forward. There _are_ files in /sys that already contain dashes, commas, at signs, underscores, periods, and parentheses. Are we sure that no such file will turn up in the fixtures directory at some point?

[2017-06-20 06:31] grobie commented on #57
If you know there are commas already, that's not an option. @ideaship so let's revert and be safe and go with the tarball approach?

[2017-06-20 06:31] F21 commented on #57
Also, another liability is that the repo might not be checked out to `C:/Users/someuser/...`.

In my case, glide or dep checks them out to `C:/Users/someuser/appdata/temp/...` and then copies them into my workspace, which is `D:/000-Work/go/src/github.com/somecompany/someproject`.

[2017-06-20 06:32] F21 commented on #57
@grobie Happy to test your fix 😄 once it's pushed.

[2017-06-20 06:33] ideaship commented on #57
I'd say let's go back to the tar ball. It seems to be pretty much the only way to be safe.

[2017-06-20 06:35] ideaship commented on #57
Oh, and @F21: I'd still be interested to learn what you are using as an environment on Windows (cygwin, Linux subsystem for Windows, ...).

[2017-06-20 06:36] #57 closed

[2017-06-20 06:42] F21 commented on #57
I just ran `dep init` to install my dependencies with a clean cache. I will report back once it's done.

[2017-06-20 07:51] F21 commented on #57
@ideaship @grobie Thanks for pushing the fix! I can confirm it works correctly! 😄

[2017-06-20 08:13] grobie commented on #57
Thank you for taking the time confirm!

On Tue, Jun 20, 2017, 09:51 Francis Chuang <notifications@github.com> wrote:

[2017-08-02 01:04] veqryn opened #60 "Symlink fixtures/26231/exe breaks git and doesn't work on windows"
I've checkout out this repository, and also use it as a dependency in some golang work I do.
Unfortunately, git always shows there is a difference in this file:
[code]

Even I check it out multiple times:
[code]

It appears to be a symlink, that gets changed on checkout for some reason:
[code]

Besides git always showing it is changed, it also breaks our dependency management (glide):
[code]

[2017-08-02 22:51] grobie commented on #60
Hey @veqryn! Thanks for reporting this issue. There are a similar one in #32 and #29. Thanks to recent contributions, we have already support to package such files available in prometheus/procfs. Have a look at #59 and the addition of ttar.

Do you wanna give it a try and apply this approach to `fixtures/`? This should solve that issue.

[2017-08-02 22:57] veqryn commented on #60
So I checkout this project yesterday, and it had the issue I describe above.
It looks like #59 was merged a month ago into master, so I don't think it fixed the issue.

[2017-08-02 23:02] grobie commented on #60
Yes, #59 fixes similar issues in sys/fixtures/. We'll need a PR to apply
that approach to fixtures/.

On Thu, Aug 3, 2017 at 12:57 AM Chris Duncan <notifications@github.com>
wrote:

[2017-09-27 23:40] zegelin opened #61 "userHz is hard-coded to 100"
Running _node\_exporter_ inside a LX zone on Joyent's SmartOS (or their cloud platform, Triton) reports incorrect CPU stats.
SmartOS is based on Solaris, and LX zones are containers that enable running Linux application on Solaris.

LX zones report a `USER_HZ` value of 1000, which results in incorrect CPU stats being reported.

While it may be argued that SmartOS is incorrectly emulating the USER_

[2017-09-27 23:43] brian-brazil commented on #61
When this was last looked at, all supported platforms used 100.

[2017-09-28 06:48] SuperQ commented on #61
The `node_exporter` was not designed to run in containers, it is a host system level tool.

[2017-09-28 22:23] grobie commented on #61
So we removed it as the necessary cgo dependency forced too much overhead in crossbuilds. Could we come up with a simple solution here, like defining the constant in per architecture files and use build flags?

[2017-09-29 00:25] mdlayher commented on #61
We could probably generate the constant in x/sys/Unix and then not worry about it. Easier to push it upstream since the build infrastructure is there.

[2017-09-29 01:02] zegelin commented on #61
@SuperQ LX zones should be considered to be similar to full VMs rather than linux containers. We're not talking about LXC or Docker here.

[2017-09-29 10:54] brian-brazil commented on #61
The setup here is sufficiently weird that the setting may not be the one we expect for the architecture.

Which architecture is this?

[2017-10-01 12:13] grobie commented on #61
I should have said `per operating system files`. It seems SmartOS will just be recognized as `Solaris` in golang, and I don't know whether all Solaris variants use USER_HZ=1000.

We could re-introduce C code for the syscall in something like `user_hz_solaris.go` and continue to use the hardcoded value in `user_hz.go`.

@zegelin Do you know how to query for the USER_HZ value in solaris?

[2017-10-01 13:32] brian-brazil commented on #61
`USER_HZ` is a Linux thing, Solaris doesn't have it.

[2017-10-01 13:49] grobie commented on #61
Oh, now I see the issue I guess. From the perspective of the program running in the LX zone, the OS will be Linux.

I'm very hesitant of introducing a C dependency just for that exception. @zegelin Does LX provide any hint about the environment we could query for without a systemcall?

[2017-10-02 19:28] zegelin commented on #61
@brian-brazil

x86_64

@grobie
Exactly. Processes running in a LX zone *think* they are running on Linux even though the host is actually Solaris.

There is a sysctl that returns:
`kernel.osrelease = BrandZ virtual linux`

[2017-10-14 22:17] ncabatoff opened #62 "Limits that don't fit in an int32 aren't parsed, causing errors"
In proc_limits, parseInt() uses strconv.ParseInt(s, 10, 32) to read limit values.  Some limit values won't fit in 32 bits, e.g. max file size, max address space.  As a result NewLimits() returns an error instead of the limits for the proc whenever one of those limits is too large.

[2017-10-14 23:28] grobie commented on #62
Thanks for the report. Wanna give it a try in a PR?

[2017-10-15 00:43] ncabatoff commented on #62
Sure.  Do you want me to make all members of ProcLimits be int64 for consistency, or only the ones we foresee as getting big enough to warrant it?

[2017-10-15 06:56] SuperQ commented on #62
We should probably use int64 unless we know for sure that the data is int32.

[2017-10-17 21:40] #62 closed

[2018-02-09 07:28] nilium commented on #46
I'll probably take a look at this tomorrow-ish (late right now) since it'll make it easier to monitor my ARM systems.

[2018-02-20 23:05] veqryn commented on #60
This is still an issue for me, and I do not have the ability to make the PR you want for it.

This breaks dependency management in golang for me, on Windows.
Any project that has this project in their vendor directory causes git to go nuts and show it as always being modified.

Can this please be given more priority?

[2018-02-26 14:41] Nighthawk22 opened #75 "Breaks docker-compose"
We are using the prometheus library at one of our projects and it seems like the fixtures directory is breaking the last docker-compose build:
[code]
Building the service with docker itself is working prefectly fine.

Docker version:
[code]

Docker-compose version:
[code]

[2018-02-27 09:51] #37 closed

[2018-02-28 11:19] codingconcepts commented on #75
Same issue here :(

[2018-02-28 11:24] brian-brazil commented on #75
Have you filed a bug with docker-compose?

[2018-02-28 12:13] codingconcepts commented on #75
From @Nighthawk22's message, it appears as though this was previously working with docker-compose.

Unfortunately, none of yesterday's checkins appear to have obviously broken anything...

[2018-02-28 12:26] Nighthawk22 commented on #75
Yes it was previously working. I will open a docker-compose ticket.

[2018-02-28 12:29] codingconcepts commented on #75
Sorry if I'm being dense here but are you going to raise a ticket here https://github.com/docker/compose?

If so, isn't it more likely that this was working with the same version of docker-compose?

[2018-02-28 12:44] Nighthawk22 commented on #75
Nope definitly not. Also build a reproducable example.
Fails on every mac docker-compose with the same version:
https://github.com/Nighthawk22/procfs-test/

[2018-02-28 12:46] codingconcepts commented on #75
I'm using docker-compose v2 at the moment and that's also broken.

[2018-02-28 13:14] grobie opened #78 "Support binary files in ttar"
The procfs file structure is not compatible with non-Linux systems. For example symlinks cause issues when checked out on Windows or Mac (see #60 and #75). For similar reasons, a `ttar` solution was contributed which allows packaging the whole fixtures structure into a single file, while still allowing meaningful diffs and code reviews.

In order to use `ttar` for the `fixtures/` directory, it nee

[2018-02-28 14:50] #78 closed

[2018-02-28 14:52] grobie commented on #75
Issue avoided by #79. Docker-compose should still not break if a package contains a symlink.

[2018-02-28 14:52] #75 closed

[2018-02-28 14:52] grobie commented on #60
Issue avoided by #79.

[2018-02-28 14:52] #60 closed

[2018-02-28 15:41] grobie opened #81 "Vendor ttar properly"
The ttar author @ideaship has created a proper project in the meantime: https://github.com/ideaship/ttar. We should merge forward our updates and then vendor ttar properly from the canonical source.

[2018-03-06 11:40] grobie commented on #81
Fixed with 7186fbf4eb22a031bcd4657c8adc3fc39acf6d8a.

[2018-03-06 11:40] #81 closed

[2018-04-03 12:51] mjtrangoni opened #84 "stat.go: wrong handling of offline CPUs when parsing /proc/stat"
Hi @rtreffer @SuperQ ,
This issue is related to [#873](https://github.com/prometheus/node_exporter/issues/873).

When parsing the `/proc/stat` file, I am missing the latest offline CPUs bunch of metrics (from cpu154 to cpu159). As @brian-brazil said, the CPU metrics should always be there.

See:
[code]

* The /proc/stat file for the records.

[code]

* This is what **node-exporter v0.16.0-rc.0** i

[2018-04-05 08:57] mjtrangoni commented on #84
As I wrote in [#873](https://github.com/prometheus/node_exporter/issues/873), an option/fix would be iterating over the `/sys/devices/system/cpu/present` file. See,

[code]

[2018-04-05 09:18] grobie commented on #84
Thanks for the information @mjtrangoni. I took the liberty to rename the issue a bit. There is no support for offline CPUs availble in this procfs library at the moment. Furthermore, the node_exporter doesn't currently use this procfs library for CPU metrics, but this is something we should change. Your `/proc/stat` file will be of great help to write a test.

[2018-04-05 09:38] mjtrangoni commented on #84
Hi @grobie,
I found this looking at node_exporter's `collector/cpu_linux.go`, at line 199, when it calls the `updateStat` function.
Iterating over the `present` file will give you the total amount of present CPUs. At the `/proc/stat`file you see only the online ones. See also [this](https://gist.github.com/mjtrangoni/97588d41b7c2d56b57fe77f7680282af#file-cpu_topology_information-txt)

[2018-04-05 09:50] grobie commented on #84
Thanks for the clarification @mjtrangoni, my bad, I had missed that the node_exporter uses procfs by now.

In either case, I don't think that the procfs library does anything wrong here, it's meant to be a library to access procfs information from go. It would be the node_exporter's responsibility to combine the information from `/sys/devices/system/cpu/present` and `/proc/stat`. We should support

[2018-04-05 10:44] mjtrangoni commented on #84
What I think is wrong or not 100% right is that, in my case, all intermediate metrics of offline CPUs are initialized to 0, while the ones from cpu154 onwards are not. I have to double-check that!
And I really like the idea of exposing the  `/sys/devices/system/cpu/*` information, but I am not sure how much of them. I can make a PR exporting the `/sys/devices/system/cpu/{online,offline,possible,pr

[2018-04-05 10:54] grobie commented on #84
You're right, we're currently exposing an array with zero value `CPUStat` types for offline CPUs. It was an oversight from my side (I wasn't thinking of offline CPUs). I don't believe this library should make up any information which are not actually exposed by the procfs. So we should change the returned data type. Either a `map[uint]CPUStat` would work (but unordered in golang, not so great) or

[2018-06-27 11:00] SuperQ opened #95 "Add parser for CIFS client stats"
The CIFS kernel module includes client stats in `/proc/fs/cifs/Stats`, but only if the kernel is configured with `CONFIG_CIFS_STATS`.

It includes per mountpoint info, so it should be pretty useful.

[2018-06-27 11:04] SuperQ commented on #95
Here's a sample stats file:
[code]

[2018-06-27 11:36] shibumi commented on #95
This is what I get on CentOS7:
[code]

@SuperQ which Distribution is this?

[2018-06-27 13:09] shibumi commented on #95
@superq any feedback to my first data model? https://github.com/shibumi/procfs/blob/cifs-support/cifs/cifs.go

I am unsure if I should add the key/value pairs of your output as well. I guess this would make sense, but what would I do with it when some kernels don't provide these pairs? Just initialize them as 0?

[2018-06-27 14:03] shibumi commented on #95
Ok now I am totally confused. I have tested this in a vagrant box with ubuntu 18.04 and kernel 4.15.0-22-generic. Here is the output what I get here:
[code]

As you can see is the output equal to the one from CentOS with kernel 3.15...

Why do you have a totally different output? Another kernel module? Or are you running in Server Mode with a Samba Server? Are you the Server or the Client? My both

[2018-06-27 14:20] SuperQ commented on #95
Mine is a client example, but maybe it depends on what the CIFS server is. My CIFS server is Samba 4.4.16 on a QNAP NAS.

[2018-06-27 14:36] SuperQ commented on #95
As for the struct, that's a good question. One option is we could create a struct of pointers, and return nil pointers for missing data. This makes using the functions more annoying, but solves the different versions.

[2018-06-27 20:13] c-r-h commented on #95
Got yer note.

Regarding the per-tree-connect output (each `\\server\share` is a Tree Connect, which == a mount), all of the information being reported, in each format, is available to the client.  It's not stuff that the client would have to query the server to retrieve.

Let me know what version of the CIFS tools are in use in each case.  Eg.:
`$ mount.cifs -V`
`mount.cifs version: 6.0`

I'll pi

[2018-06-27 20:50] shibumi commented on #95
@SuperQ  possible that it's related to the used samba version. I have used the mount flag `vers=1.0` for the CIFS mounts... I can try `vers=2.0` tomorrow.. everything above is not supported by our storage cluster.

[2018-06-27 20:52] SuperQ commented on #95
Thanks @c-r-h!

[2018-06-27 21:55] c-r-h commented on #95
@shibumi: Right on track.

Steve says:

[2018-06-27 22:10] c-r-h commented on #95
Oh... and it's not the Samba version, but the protocol version that makes a difference.  The `vers=` parameter determines which protocol version should be used.  (Basically, it sets the minimum version that the client will negotiate.)

[2018-06-28 07:59] shibumi commented on #95
@c-r-h
On CentOS 7: mount.cifs version: 6.2
On Ubuntu 18.04: mount.cifs version: 6.8

Sadly I have no possibility to test the different versions.. seems like our storage cluster only supports version 1.0.

Btw this is what I get from `/proc/fs/cifs/DebugData`:
[code]
No SMB Version.. so seems like we need to parse /proc/mounts/ for the SMB version, except you know another location for getting this

[2018-06-28 12:44] shibumi commented on #95
@c-r-h One question. Is a mix out of SMB1 and SMB3 possible? so something like this?:
[code]

[2018-06-28 12:50] SuperQ commented on #95
Yes, mix is valid.

The above examples seem to be vers=2.x.

I don't have a sample of vers=3.0 yet.

[2018-06-28 12:53] SuperQ commented on #95
Ok, I got a sample for vers=3.0. It looks like there is no stats difference for 2.x or 3.x.

[2018-06-28 16:23] c-r-h commented on #95
Quick notes:
- Version 2.09 of the CIFS kernel client is very old.  I'm on an outdated Linux Mint system (based on Ubuntu 14.04.5; kernel 3.13) and I'm running CIFS v6.0.
- SMB1 and SMB2 are different protocols, but SMB3 is just SMB2 with added features (marketing upgrade).

The chart on this page may be useful:  [http://cifs.com/](http://cifs.com/)

[2018-06-28 20:07] shibumi commented on #95
Thanks for the feedback. I have nearly finished the implementation of support for SMB1. Next step will be SMB2 and SMB3 + Test Units. I hope that I can get this finished tomorrow.

[2018-06-29 01:43] fkautz opened #98 "Semver request"
Once this package is ready to be declared stable, will you be implementing semver for releases? Would be super helpful. Thanks!

[2018-06-29 15:45] hakoerber opened #99 "Error for NFS mounts via UDP"
I get the following error when using prometheus-node-exporter on a host that has NFS mounts via UDP:

[code]

I traced it back to the `xprt` field in `/proc/self/mountstats`, which has different fields depending on UDP/TCP, see also https://utcc.utoronto.ca/~cks/space/blog/linux/NFSMountstatsXprt

This means that https://github.com/prometheus/procfs/blob/7d6f385de8bea29190f15ba9931442a0eaef9af7/mo

[2018-06-29 16:01] grobie commented on #99
Sounds great @hakoerber!

[2018-06-29 16:01] SuperQ commented on #99
It would be good to have a way to identify TCP or UDP transport, we should add a field to the struct to indicate which fields are valid.

[2018-06-29 16:07] grobie commented on #99
@SuperQ setting connection count and idle time to `0` doesn't strike me as "invalid" value for UDP? Having an attribute for the transport makes sense of course.

[2018-06-29 16:32] SuperQ commented on #99
Yes, sorry, invalid is probably not the right word.  Maybe useful? :smile:

[2018-06-29 17:59] SuperQ commented on #95
Looks good so far!

[2018-06-30 09:18] hakoerber commented on #99
Thank you for your prompt responses!

How about the following:

I extend the `NFSTransportStats` struct with a `Protocol string` field that is either `tcp` or `udp`, like @SuperQ said. For TCP, nothing changes. For UDP, the TCP-only fields are simply set to zero.

How is backwards compatibility handled? In prometheus node exporter, we could use the Protocol as a label for the NFS metrics (and then

[2018-06-30 09:31] SuperQ commented on #99
When we integrate the procfs library vendor in the node_exporter, we can add the new label. It will have to wait for a new minor release as it's a breaking change.

[2018-06-30 09:32] SuperQ commented on #99
This issue is fine for discussing the changes, as it's reasonably simple.

[2018-06-30 09:44] hakoerber commented on #99
Ok, I will go ahead and make the changes, open a pull request and we can discuss it.

[2018-07-04 16:43] hakoerber commented on #99
See #100 for the changes.

[2018-07-05 12:18] #99 closed

[2018-07-09 18:23] shibumi commented on #95
Current Status:
* fixed multiple bugs
* Wrote a testing file

https://github.com/shibumi/procfs/tree/shibumi/cifs

The tests are still failing.. Somebody an idea?
[code]

[2018-07-13 16:16] arsenakishev opened #102 "Support for parsing opts line in /proc/self/mountstats"
Currently procfs does not support parsing of the ```opts:``` line in proc/self/mountstats. Having these values would give users access to more info related to their mounts. This would also help with resolving an issue with node_exporter (https://github.com/prometheus/node_exporter/issues/993) where different versions of nfs would not be recognized thus causing only a single form of metrics to show

[2018-07-13 16:31] SuperQ commented on #102
It would also be nice to have this info for a `node_mountstats_info` metric. The only difficult is there seems to be some variation in available fields, so we would have to parse all mountstats, normalize the list of fields, and then fill in with empty string for mounts that have missing fields.

[2018-07-13 17:07] brian-brazil commented on #102
client_golang has changed so that's no longer required.

[2018-07-16 15:06] arsenakishev commented on #102
@brian-brazil Did you mean that parsing of opts is no longer required or something else? Just looking for some clarification.

[2018-07-16 20:13] shibumi commented on #95
Ok I have worked on the tests, added some comments and added the cifs part to the `fs.go` file. Anything else  to do?

[2018-09-01 01:52] pirxthepilot opened #107 "Support for /proc/[pid]/fdinfo/[fd]"
Hello,

Any plans to support reading the contents of `/proc/[pid]/fdinfo/[fd]`? If not, but you think it's a good idea, I can try and submit a PR for it.

Thanks!

[2018-09-01 18:41] pirxthepilot commented on #107
In my case I would like to keep track of the number of inotify watches. From the [proc man page](http://man7.org/linux/man-pages/man5/proc.5.html):

[code]

[2018-09-03 19:27] grobie commented on #107
@pirxthepilot I'd be happy to reasonable PR to add this functionality.

[2018-09-06 17:53] hdonnay opened #108 "tests fail when used with go modules"
Both the main `procfs` package and the `xfs` package fail on my machine.
Here's a reproducer:

[code]

The tests should automatically unpack `fixtures.ttar` if they need the files.

[2018-09-06 18:07] grobie commented on #108
Happy to review a PR to support go modules, if it's simple. For everything more involved I'd wait until go modules have matured.

[2018-09-06 18:32] hdonnay commented on #108
That's fair. I'll submit something once golang/go#27492 has an answer and there's a supported place/way to create files during tests.

[2018-10-04 15:19] okleitsa opened #111 "Build failure on windows after commit 6bfc2c7"
Build output:

vendor\github.com\prometheus\procfs\internal\util\parse.go:79:28: cannot use int(f.Fd()) (type int) as type syscall.Handle in argument to syscall.Read

[2018-10-05 09:02] jonnenauha commented on #111
Please fix this asap. These are no tags or "stable" branches in this repo. This is breaking builds all over the place that include prometheus golang client. Not having tags will force people to disable windows builds or vendor the whole repo just to remove it when this is fixes.

Maybe should use some other branch than master to do dev and run tests.

[2018-10-05 09:20] okleitsa commented on #111
I'm importing client_golang and using dep (still). This means that procfs is a transitive dependency to my project and thus will only get the required packages. So client_golang requires procfs package which in turns requires xfs and nfs packages which, finally, require the util package.

So, moving this function (which is OS-specific if I understand correctly) to the util package, makes every att

[2018-10-05 09:39] SuperQ commented on #111
I would appreciate some help from some more experienced Windows developers.

One thing I'm thinking about is how does the [processCollector](https://github.com/prometheus/client_golang/blob/master/prometheus/process_collector.go) work on Windows?

Does this bit of code work at all? Perhaps we can fix the dependency tree there, so that on windows it doesn't use any Linux-specific stuff like procfs.

[2018-10-05 10:29] jonnenauha commented on #111
@SuperQ as described, this seems to break all builds that fetch latest prometheus go client.

If you don't yet know how to fix it properly, please revert the commit. Do the change later when you figure it out.

Do this to fix this now:
[code]

When you try again locally, just run `GOOS=windows go build` in this repos folder to test if the bug is fixes, you will get what was reported in the first m

[2018-10-05 10:47] beorn7 commented on #111
It doesn't report metrics, but an error. The code in question is https://github.com/prometheus/client_golang/blob/master/prometheus/process_collector.go#L128-L135 .

Thus, it depends on the `NewStat` constructor to return an error on platforms that aren't covered by prometheus/procfs. The latter should have all the build guards to not try anything on (e.g.) MS Windows that wouldn't compile.

[2018-10-05 10:57] beorn7 commented on #111
I think the problem is that the `sysfs` package wouldn't work on MS Windows but wasn't used by any binaries meant for MS Windows. Now `SysReadFile` got moved into the `util` package, which _is_ used by binaries meant to be built for MS Windows. I would just not move it into the general `util` package. (Am I missing a reason for doing so?)

[2018-10-05 11:28] SuperQ commented on #111
@beorn7 The reason to move it to the internal/util package was to make it more useful across the procfs package.

IMO, the problem here is we don't have a platform-specific setup for client_golang's process collector.

[2018-10-05 11:37] beorn7 commented on #111
client_golang is not the only user of this repo. I don't think all users of this repo should pull up the information on which platform it works and on which not. This should only be maintained at one place, which is here in the repo. Currently, the API works in a way that you call `NewStats` and check the error to see if the process stats are supported on your platform. It would be a breaking chan

[2018-10-05 11:40] beorn7 commented on #111
For now, I'd just not move SysReadFile into the util package. You are not yet using in anywhere outside of the sysfs package. Perhaps discuss a possible change with @grobie when he is back.

[2018-10-05 11:47] SuperQ commented on #111
Ok.  I'm setting up a test matrix on Travis right now so we can verify the change works.

[2018-10-05 13:50] SuperQ commented on #111
I've finished the test matrix, and refactoring the code.

https://github.com/prometheus/procfs/pull/112

[2018-10-05 14:02] #111 closed

[2018-10-05 14:03] SuperQ commented on #111
Ok, please test your windows builds with the latest commit. Sorry for the breakage, we now have a CI test to prevent this in the future. :smile:

[2018-10-05 14:23] vmurashev opened #113 "Build failed on windows: cannot use int as type syscall.Handle in argument to syscall.Read"
go version go1.11.1 windows/amd64

..\..\vendor\github.com\prometheus\procfs\internal\util\parse.go:79:28: cannot use int(f.Fd()) (type int) as type syscall.Handle in argument to syscall.Read

[2018-10-05 14:27] #113 closed, assigned to nobody

[2018-10-05 14:44] okleitsa commented on #111
All good. Thank you!

[2018-10-13 23:58] seanhoughton opened #114 "Can't use this module with go 1.11"
I'm trying to build a go program which imports the prometheus_client library and it's experiencing the same problem. I boiled it down to a very simple repro case here:

[code]

[2018-10-16 20:55] abourget opened #116 "Commit 185b42884 breaks builds on Linux"
Because of a redeclaration of `SysReadFile` in the new `sysreadfile_linux.go` (redefined from `parse.go`).

Commit: 185b4288413d2a0dd0806f78c90dde719829e5ae

[2018-10-16 21:44] beorn7 commented on #116
But in that same commit, `SysReadFile` is removed from `parse.go`, isn't it?

[2018-11-12 16:41] discordianfish commented on #102
Not sure what @brian-brazil is refering to.
In general +1 on this. Is this "accepted"? As in are we willing to accept a PR to implement this?

[2018-11-12 18:36] brian-brazil commented on #102
Is what I was referring to.

[2018-11-13 12:01] discordianfish commented on #102
Got it, thanks. Either way, from the procfs pov this doesn't matter. So let's add this?

[2018-12-06 01:45] fbegyn opened #122 "cpu_freq metrics: use scaling or cpuinfo?"
Since PR #94 it has the default behaviour of reading `scaling_cpu_freq` in favor of `cpuinfo_cur_freq`. These 2 represent different metrics in my eyes. The scaling one reflects at which frequency the linux kernel thinks the cpu runs, while cpuinfo reflects the actual HW frequency of the CPU.
source: https://www.kernel.org/doc/Documentation/cpu-freq/user-guide.txt

IMHO cpuinfo should still be the

[2018-12-06 08:53] mjtrangoni commented on #122
@fbegyn I checked it out, and found that `cpuinfo_cur_freq` is only readable by root, which is not allowed here, as the `node_exporter` should be run as user.

See,
[code]

[2018-12-06 12:51] SuperQ commented on #122
Interesting, honestly, I didn't look that closely at the documentation. I assumed they were the same, just a rename between different kernel versions. We originally changed the reading preference to work around bugs in the RHEL kernel permissions for the proc file.

@mjtrangoni That's an old redhat kernel bug, on the upstream kernel and more recent patch versions of the RHEL kernel, the permission

[2018-12-06 13:18] fbegyn commented on #122
Discovered it while comparing node-exporter metrics from a few months ago with the current ones because we couldn't make sense of it. We changed cpu goverenor to `perormance` but didn't see the change on the metrics. While the expected behaviour did show up in the data a from a few months ago, it didn't now.
Couldn't wrap my head around it, so dove into the kernel a bit and found this out.

I'm no

[2018-12-06 13:46] mjtrangoni commented on #122
@SuperQ This is read-only upstream **now**. See,

[code]

And [here](https://lkml.org/lkml/2004/8/25/244) Dave Jones say why,

This can be a slow operation, so a user could degrade system performance
for everyone else by repeatedly cat'ing it.

[2018-12-06 14:15] SuperQ commented on #122
Ugh, this is extremely annoying.

[2018-12-06 17:03] knweiss commented on #122
@SuperQ FWIW, quoting `Documentation/admin-guide/pm/cpufreq.rst`:
[code]

[2018-12-07 10:38] SuperQ commented on #122
I've created https://github.com/prometheus/procfs/pull/123 as a possible solution.

[2018-12-07 19:12] fbegyn commented on #122
@SuperQ Westmere CPUs and Debian 9 (I believe on 4.18 kernel). Personal system is Dell XPS13 9360 on 4.19

[2019-01-05 14:40] daenney opened #126 "Add pressure stall information"
I'd like to add support for `/proc/pressure/*` that the Linux kernel exposes (to in turn add support for that to the node exporter).

I started looking at it but I'm stumbling on a thing; currently `Proc` and its `path` helper always assumes that what we want is `/proc/<pid>/<path...>` however what I need access to is `/proc/pressure/{cpu,memory,io}` and I can't seem to find a good way to do that.

[2019-01-05 15:00] SuperQ commented on #126
Related: https://github.com/prometheus/node_exporter/issues/1174

You're probably looking to implement something similar to one of the other handlers like [/proc/net/dev](https://github.com/prometheus/procfs/blob/master/net_dev.go#L60-L63).

[2019-01-10 19:49] kcameron1973 opened #129 "Checksum mismatch during install of procfs"
While trying to install this package on its own or as part of the blackbox_exporter "make" getting a failure verifying download:

[kcameron@kevlar1 blackbox_exporter-master]$ sudo go install "github.com/prometheus/procfs"
go: downloading github.com/prometheus/procfs v0.0.0-20170703101242-e645f4e5aaa8
go: verifying github.com/prometheus/procfs@v0.0.0-20170703101242-e645f4e5aaa8: checksum mismatch

[2019-01-29 22:46] #46 closed

[2019-01-29 22:48] discordianfish commented on #129
See the answer on the mailing list. Just tried and can't reproduce. This looks like the described problem with the mod cache (try running `go clean -modcache`)

[2019-01-29 22:48] #129 closed

[2019-01-31 16:37] bdrung opened #133 "Typo in procfs/sysfs/system_cpu.go: Govenor"
There is a typo in `procfs/sysfs/system_cpu.go`: `Govenor` should be spelled `Governor`.

[2019-01-31 21:32] pgier commented on #133
Thanks!  Created #134

[2019-02-03 18:33] #133 closed

[2019-02-09 10:54] #126 closed

[2019-02-10 14:49] SuperQ commented on #98
Ping @discordianfish

[2019-02-20 16:56] pgier opened #135 "Refactor interpackage dependencies to minimize client dependency tree"
@SuperQ brought up the issue that the prometheus client_golang project uses only a couple of functions from procfs for gathering process data, but the procfs package has dependencies on the xfs and nfs (and recently also iostats) packages, so these subpackages are pulled in to the client's dependency tree even if they are not used.  Ideally, any clients of procfs should only see minimal additions

[2019-03-05 21:47] SuperQ opened #139 "Add support for parsing smaps"
We're looking into memory usage of some ruby code, and we discovered some interesting information about getting more "real" memory use for processes based on `/proc/<pid>/smaps`.

It would be interesting to get similar set of data for a PSS size in client_golang.

See:
* https://gitlab.com/gitlab-org/gitlab-monitor/merge_requests/80
* https://gitlab.com/gitlab-org/omnibus-gitlab/issues/3858#note_1

[2019-03-06 23:32] #43 closed

[2019-03-13 08:48] daenney opened #141 "Tests fail due to missing fixtures"
[code]

[code]

[2019-03-13 08:50] daenney commented on #141
Uhg, turns out the `fixtures.ttar` was broken locally.

[2019-03-13 08:50] #141 closed

[2019-03-22 14:21] shaardie opened #145 "/sys/class/power_supply/<power_supply>/scope is no uint64"
The file is currently parsed as uint64, but is actually a string.

[2019-04-03 10:40] discordianfish commented on #145
Fixed by #146. Thanks!

[2019-04-03 10:40] #145 closed

[2019-04-03 15:53] pgier commented on #135
Fixed by #136

[2019-04-03 15:53] #135 closed

[2019-05-07 19:14] pgier commented on #122
Is there anything more to do on this issue since #123 has been merged?

[2019-05-07 19:26] pgier commented on #116
I'm not able to reproduce this, I'm guessing it was due to some local files which were modified or out of date.

[2019-05-07 19:45] pgier commented on #44
Is this something that we still want to do?  After the refactoring in #149, we still have a lot of method names that look like `fs.NewSomething()`.  Using the BuddyInfo example, we have `NewBuddyInfo()` and `fs.NewBuddyInfo()`.  We could change the fs method to `fs.BuddyInfo()` however the top level function, can't be changed to just `BuddyInfo()` because then it conflicts with the BuddyInfo struc

[2019-05-07 19:53] pgier commented on #32
This should be fixed by #59 and #79

[2019-05-08 09:14] SuperQ commented on #116
Yes, this sounds like bad vendoring or broken checkout.

[2019-05-08 09:14] #116 closed

[2019-05-08 10:02] fbegyn commented on #122
@pgier I don't think so. I lost track of this issue, but I'm closing it in relation to #123

[2019-05-08 10:02] #122 closed

[2019-05-08 19:40] SuperQ commented on #32
@pgier Yup, looks good.

[2019-05-08 19:40] #32 closed

[2019-05-10 12:05] whendream commented on #57
thank you so much！！！it worked！！

[2019-05-14 08:52] stevenjm opened #157 "Support for /proc/sys/vm"
Hi,

I raised the suggestion of having the node exporter expose metrics from `/proc/sys/vm` [on the mailing list](https://groups.google.com/forum/?fromgroups#!topic/prometheus-developers/iXzsjy0NFAE) and was suggested to raise an issue here.

For my specific use case, exposing `/proc/sys/vm/max_map_count` is sufficient. There are also other files in `/proc/sys/vm` that we might consider exposing.

[2019-05-14 09:54] discordianfish commented on #44
I think the idiomatic way would be to call it BuddyInfo() and rename the struct instead..

[2019-05-14 10:03] discordianfish commented on #44
See the linked PRs. I think `fs.BuddyInfo()` is the way to go and I tend to say we should call the package level functions that do the same should also be called the same but that's somewhat against prefixing "top level constructor functions" with New.. @mdlayher Would love your 2 cents on this.

[2019-05-14 19:31] mdlayher commented on #44
I still agree with my previous comment: https://github.com/prometheus/procfs/issues/44#issuecomment-296304689

I'd like to see zero package level functions, and everything is only accessible via a method on the FS type.

[2019-05-15 14:59] pgier commented on #44
Ok, once the current set of PRs are merged, I'll create another PR to (1) remove the top level `NewThing()` constructor functions, (2) change the FS methods from `NewThing()` to `Thing()`, and (3) since FS would now be required in most/all cases, maybe add a new `FS` constructor such as `NewDefaultFS()` for when `/proc` and  `/sys` are in the default locations.

[2019-05-17 13:56] #102 closed

[2019-05-17 15:35] pgier commented on #25
Running the example code, I wasn't able to reproduce the issue.  The only things I can think of that may have caused this are (1) maybe there was some difference on your system between `/proc/<pid>/stat` (which is read by procfs) and `/proc/<pid>/status` (which you were comparing) or (2) maybe there was a bug in the golang `fmt.Fscan` function which caused the integer to be read incorrectly.

If y

[2019-05-17 15:39] pgier commented on #28
Closing this issue since there doesn't seem to be a use case currently for exposing the hard limits.  Feel free to reopen or create a new issue if there is a need for this.

[2019-05-17 15:39] #28 closed

[2019-05-19 10:57] discordianfish commented on #44
Don't have a opinion on that, so if you think that's better - let's do it.

[2019-05-22 20:31] pgier commented on #157
@stevenjm Feel free to submit a PR for this.  This can probably be implemented similarly to some of the functions in the `sysfs` package, which also reads a lot of small files with one value each.

[2019-05-24 15:39] #25 closed

[2019-05-30 10:49] SuperQ opened #166 "Mountstats rolls over with older kernels / high traffic"
A user running RHEL 7.x with Linux 3.10 reported mountstats collector returning negative values.

Snipit from `/proc/self/mountstats`:

[code]

[2019-05-30 10:51] SuperQ commented on #166
Created for tracking, this was fixed by #165.

[2019-05-30 14:10] pgier commented on #44
Fixed in PR #162

[2019-05-30 14:10] #44 closed

[2019-05-30 15:17] peterbourgon opened #167 "A recent commit broke prometheus/client_golang"
[code]

[2019-05-30 15:21] sbramin commented on #167
Cross post, but its this commit https://github.com/prometheus/procfs/pull/162

[2019-05-30 16:48] BlizzTom commented on #167
Testing #168 to see if it fixes Go Dep.

[2019-05-30 16:57] BlizzTom commented on #167
Works, thanks for quick updates.

[2019-05-31 09:14] #167 closed

[2019-05-31 14:57] jshields opened #169 "Recent change removed methods required by elastic/go-sysinfo with no version number bump"
Related to: https://github.com/prometheus/procfs/issues/167

This commit removed methods that are used by other libraries (breaking changes) while maintaining v0.0.1 as the latest "release":
https://github.com/prometheus/procfs/commit/985b82318ecc7741179e9c11a99095cd1f6965c9#diff-33838b2a8ea2f8e4311d86efea5944c5L151

I propose that this project follow semantic versioning. In the meantime, would it

[2019-05-31 16:15] SuperQ commented on #169
Duplicate of https://github.com/prometheus/procfs/issues/98

[2019-05-31 16:19] pgier commented on #169
Reopening for re-adding the removed functions.
The semver discussion can be handled in #98

[2019-05-31 16:28] pgier commented on #169
9b1831c#diff-33838b2a8ea2f8e4311d86efea5944c5R148

@jshields The previous code (v0.0.1) had both a NewStat() and fs.NewStat() functions.  client_golang is using one, and looks like you are using the other.

[2019-05-31 18:30] pgier commented on #169
@jshields can you verify that #170 fixes the issue for you?

[2019-06-01 21:10] jshields commented on #169
Thank you for the response @pgier , understood, I will attempt to verify that the issue when using [elastic/go-sysinfo](https://github.com/elastic/go-sysinfo) is resolved on Monday. PR looks good though. Cheers 👍

[2019-06-03 02:32] pgier commented on #169
Re-opening for verification

[2019-06-03 18:31] jshields commented on #169
@pgier Issue appears to be fixed on latest `master` 👍

[2019-06-03 20:37] #169 closed

[2019-06-08 07:45] TheMeier commented on #157
I'd like to take that one.

[2019-06-10 09:26] cuonglm opened #175 "Build failed when using both prometheus/node_exporter and prometheus/client_golang"
I have a simple program:

[code]

Run it with go module enabled:

[code]

The problem is `prometheus/node_exporter` and `prometheus/client_golang` requires 2 version of procfs, which are conflicts with each other.

The graph shows the version `github.com/prometheus/procfs@v0.0.2 golang.org/x/sync@v0.0.0-20181221193216-37e7f081c4d4` was chosen. The commit https://github.com/prometheus/procfs/commit

[2019-06-10 09:50] discordianfish commented on #166
Then this can be closed, right?

[2019-06-10 09:50] #166 closed

[2019-06-11 14:20] mdlayher opened #177 "*: remove non-test uses of reflect"
As mentioned in a couple of issues, IMHO the use of reflection is not justified in order to save a few keystrokes. The data coming from proc/sysfs files is not truly dynamic: there are known file names with values that can be mapped to known fields. This type of code can be easily rewritten using a switch statement. When implementing something like a JSON decoder that may have to handle truly arbi

[2019-06-11 14:44] mdlayher commented on #177
I will give https://github.com/prometheus/procfs/blob/master/sysfs/class_power_supply.go a try and then post a PR.

[2019-06-12 12:47] dswarbrick commented on #175
I was also caught out by this, whilst trying to update Debian's packaging for prometheus-node-exporter. Version 0.18.0 seems to require a pre-0.0.1 git snapshot of procfs, whilst version 0.18.1 requires _exactly_ version 0.0.1 of procfs. Anything later than that (0.0.2+) breaks the build due to the removal of these top-level functions:
[code]

[2019-06-12 14:46] cuonglm commented on #175
cc @pgier @discordianfish

[2019-06-12 14:47] SuperQ commented on #175
@dswarbrick I had to bump the procfs slightly in node_exporter 0.18.1 to fix a parsing bug.

[2019-06-12 15:09] dswarbrick commented on #175
@SuperQ Thanks for the info. Will node_exporter be releasing a new version that builds against procfs 0.0.2, or will procfs re-add some top level function wrappers like they did in #170 ?

[2019-06-12 15:48] SuperQ commented on #175
We'll probably update the node_exporter master to work with the latest procfs version sometime soon. A new release depends on what features we're working.

[2019-06-12 15:50] cuonglm commented on #175
@SuperQ Update node_exporter should work, but it's likely that there're user out there which rely on removed methods.

The best way to fix this is in procfs, but re-adding removed methods and mark them as deprecated. If not, the changelog should be updated to insist the in-compatible change.

[2019-06-12 18:47] #175 closed

[2019-06-26 16:11] pgier commented on #98
Closing this because we now have pre-release tags and will be following semver standards going forward.

[2019-06-26 16:11] #98 closed

[2019-06-26 19:59] pgier opened #188 "Create/document recommendation for file io best practices"
We currently have a mix of some functions using `ioutil.ReadFile` and others using a scanner to read line by line.  Given that some files in procfs change frequently and are not guaranteed to be consistent between successive reads (https://stackoverflow.com/questions/5713451/is-it-safe-to-parse-a-proc-file), should we favor reading a full files and then parsing the data afterwards instead of using

[2019-06-27 13:40] pgier commented on #107
Fixed in #115

[2019-06-27 13:40] #107 closed

[2019-06-27 13:58] #157 closed

[2019-06-28 07:46] SuperQ commented on #188
None of the files we read are extremely large. Deprecating scanner and moving to single read calls seems like the best option to me.

[2019-07-03 09:34] discordianfish commented on #188
Makes sense!

[2019-07-12 20:00] shibumi commented on #95
Looks like the `Samba` team has dropped `SMBv1`: https://tech.slashdot.org/story/19/07/10/2119238/samba-411-removes-smb1-file-sharing-protocol-version-by-default

This leads to a question in my head. Do we want still want to support `smbv1` for the parser?
If we would only support `smbv2` and `smbv3` this would make parsing a lot easier, because we would have no context switches anymore (smbv2 and

[2019-07-12 20:43] c-r-h commented on #95
SMB1 will still be available in Samba.  We're just turning it off by default as Microsoft has previously done in Windows.  All that needs to be done to re-enable it is to change a setting in the smb.conf file.

The same is true for the SMB1 protocol in the Linux SMB kernel client (aka. the CIFS kernel client).  SMB1 will be disabled by default but can be re-enabled.  The code will still be there.

[2019-07-13 19:31] TheMeier commented on #177
@mdlayher did you already work on `sysfs/net_class.go` I could clean that up ...

[2019-07-14 05:55] TheMeier opened #193 "potential crash in vm.go"
In vm.go code like this is used:

[code]

if the methods of valueparser return a nil pionter, which they do if they can't parse the value, this will generate a crash:

[code]

Since this was added quite recently I'd simply change the interface to use pointers for parsed values, thus simply resulting in nil pointers in the return struct fields.

[2019-07-29 13:46] discordianfish commented on #177
@TheMeier I don't think he does, so feel free to submit a PR! :)

[2019-08-09 14:50] #193 closed

[2019-08-09 14:58] #38 closed

[2019-08-12 06:08] mmailhos opened #201 "Add support for parsing cgroup"
We've encountered a case where we needed to know wether a particular process was running inside a container or not. One way to achieve this is to check for cgroups inheritance from the container runtime via `/proc/<pid>/cgroup`.

It would be great to have visibility on the hierarchical dependencies per cgroup resource controller.

[2019-08-15 14:25] #177 closed

[2019-09-02 21:15] shaardie opened #205 "Error parsing `/sys/class/power_supply`"
There is a problem while parsing the `/sys/class/power_supply/<power_supply>/device`, since this is a symlink to a directory, but `sysfs/class_power_supply.go` tries to read it like a regular file.

[2019-09-03 16:34] pgier opened #207 "Add parsing of /proc/cpuinfo"
This API should include parsing of `/proc/cpuinfo` since it contains a lot of useful general information about the current CPUs.
Possibly some of the information could be made available as metrics in node_exporter, see also https://github.com/prometheus/node_exporter/issues/210

[2019-09-03 16:39] pgier opened #208 "Add parsing of cpu topology information"
Add functions for parsing `/sys/devices/system/cpu/cpu<N>/topology` to determine number of sockets/cores/threads.

[2019-09-05 15:44] ssinha-ionos opened #211 "Add parsing of Device Mapper Slave Devices"
Add functions for parsing /sys/devices/virtual/block/dm-<N>/slaves/ to determine state of Device Mapper Slave Devices.

This is earlier implemented as part of text-collector <https://github.com/prometheus-community/node-exporter-textfile-collector-scripts/pull/6/> but it makes more sense to add native support integrated in the node-exporter itself via procfs library instead of having a separate Py

[2019-09-05 22:09] pgier commented on #205
Fixed by #206

[2019-09-05 22:09] #205 closed

[2019-09-09 19:56] #207 closed

[2019-09-11 17:34] pgier commented on #208
Resolved by #210

[2019-09-11 17:34] #208 closed

[2019-09-17 14:39] pgier opened #217 "Add parsing of net/stat/nf_conntrack"
See https://github.com/prometheus/node_exporter/pull/1155 and https://github.com/prometheus/node_exporter/issues/1233

[2019-09-24 15:33] SuperQ opened #218 "Add parsing of /proc/flashcache"
In addition to bcache, there is [flashcache](https://github.com/facebookarchive/flashcache/blob/master/doc/flashcache-sa-guide.txt). It would be useful to have parsing of this for the node_exporter.

[2019-10-06 05:34] Colhodm opened #221 "Not working with Go Get"
Hi,
Trying to use go get and compile, but getting complaints from the commit that went in a day ago:
./cpuinfo.go:58:15: undefined: util.ReadFileNoStat
./ipvs.go:70:15: undefined: util.ReadFileNoStat
./proc.go:125:15: undefined: util.ReadFileNoStat
./proc.go:139:15: undefined: util.ReadFileNoStat
./proc_environ.go:26:15: undefined: util.ReadFileNoStat
./proc_fdinfo.go:48:15: undefined: util.ReadFi

[2019-10-06 13:47] pgier commented on #221
Are you getting those errors doing a `go get github.com/prometheus/procfs`?  I tried this after deleting the existing procfs dir and cleaning my local module cache `go clean --modcache`, and I didn't see any errors.

The new ReadFileNoStat function is in the internal.util package.  Do you see this in your procfs directory?

[2019-10-06 17:05] Colhodm commented on #221
Hi,
The function is defined in the util package, and is present in the code written in `sysreadfile.go`. So the source code looks all fine, so I'm not sure why it is unable to resolve the import path for util.

[2019-10-06 18:37] dmitshur commented on #221
The problem is in PR #219. It added `ReadFileNoStat` to [internal/util/sysreadfile.go](https://github.com/prometheus/procfs/blob/c0c2a8be4d30a2e2cb95ea371a6f32a506d3e45e/internal/util) but not to [internal/util/sysreadfile_compat.go](https://github.com/prometheus/procfs/blob/c0c2a8be4d30a2e2cb95ea371a6f32a506d3e45e/internal/util/sysreadfile_compat.go). I left a comment [here](https://github.com/pr

[2019-10-07 01:41] pgier commented on #221
Sorry about that, I have created #222 to hopefully fix this.

[2019-10-07 09:44] #221 closed

[2019-10-17 08:12] meriororen opened #225 "Parsing hypen in mountinfo incorrect"
Hello,

Sometimes other field (like mount points) can have hyphen in them, causing mountinfo parser to put wrong information in wrong field.

I do think this line
https://github.com/prometheus/procfs/blob/master/mountinfo.go#L93

can be improved.

In my case, my usb drive mount point is, /media/isa/300A-6F09, this could cause incorrect optional field separation.

[2019-10-18 09:26] SuperQ commented on #225
Yup, there are other cases where this is broken. We also want to eliminate the use of buffio scanners, so I think a bit of a re-write is in order. It might be worth making this a regexp parser.

[2019-10-23 19:35] probonopd opened #227 "Does not work with partitions that have a "-" in their name"
Does not work with partitions that have a "-" in their name, as is relatively common e.g, for disks that have been automatically named by the system.

`/proc/self/mountinfo` entry

[code]

gets incorrectly parsed to `/media/neon/DEBB`.

I think the logic error is in

https://github.com/prometheus/procfs/blob/8fcc02dcd366318084a9576bfeee615c7191ae6a/mountinfo.go#L86-L101

because "-" is not the sep

[2019-10-24 15:21] discordianfish commented on #227
Dup of #225

[2019-10-24 15:21] #227 closed

[2019-10-29 08:26] SuperQ opened #229 "Add parsing of sockstat"
We currently parse `/proc/net/sockstat` in the node_exporter, it would be good to extract this functionality.

* [ ] Parse `/proc/net/sockstat`
* [ ] Parse `/proc/net/sockstat6`

Sadly, it looks like these files are not documented well in the kernel docs.

[2019-11-05 21:32] bradbeam opened #230 "Add support for parsing meminfo"
Would be great to have support for /proc/meminfo.
I see https://github.com/prometheus/procfs/pull/18 from a few years ago. Is this a good enough base to start with?

[2019-11-06 17:23] pgier commented on #230
Sure, the previous PR can provide a good example.  Also, the proc man page provides the details regarding the fields contained in meminfo.
http://man7.org/linux/man-pages/man5/proc.5.html

[2019-11-08 12:06] #225 closed

[2019-11-11 16:02] #230 closed

[2019-11-14 03:10] Jack-Kingdom opened #233 "Is there a switch to disable log print ?"
`log.Println` be called on every reading, just like the below image shows, this cause so many logs writes to stderr.
Is there a switch to close log print ?

<img width="531" alt="Screen Shot 2019-11-14 at 11 05 38" src="https://user-images.githubusercontent.com/10584772/68823457-c49eea00-06ce-11ea-8508-cc12f81a2828.png">

[2019-11-14 08:58] SuperQ commented on #233
Whups! That's a bug, a leftover from development debugging.

[2019-11-14 15:59] #233 closed

[2019-11-21 15:43] jberryman commented on #122
@SuperQ

This is OT but do you have any more details here? On Ivy Bridge I've been trying to figure out how to get a stable cpu frequency for benchmarking (or even figure out how to _know_ if I'm getting a stable clock speed).

I found setting the governor to `performance` stabilized performance somewhat in my benchmarks (and made things significantly faster), but the various metrics from `/sys/..

[2019-11-21 15:52] SuperQ commented on #122
@jberryman Yes, it's very complicated, as there's a lot of trickery going on under the hood in the hardware to perform power and thermal envelope management between cores and other parts of the chip. I don't have any specific documentation links off the top of my head. But I would look around for documentation on the various kernel modules that implement the changes. Things like `intel_cstate`.

[2019-11-22 19:06] mdlayher commented on #229
I can look into this.

[2019-11-23 17:47] Jack-Kingdom opened #239 "Implement parsing of /proc/loadavg"
Looks like "/proc/loadavg" file isn't parsed at now.
It's useful from this to get current system load.

[2019-11-23 17:58] mdlayher commented on #239
Agreed. We currently parse this directly in node_exporter, but it'd be nice to move that code out and into procfs instead.

https://github.com/prometheus/node_exporter/blob/master/collector/loadavg_linux.go

[2019-11-25 17:27] #229 closed

[2019-12-11 13:57] stevenjm opened #244 "Add parsing of /proc/swaps"
I currently have a WIP implementation at https://github.com/usabilla/prometheus-procfs/tree/swap (with a corresponding WIP change to the node exporter at https://github.com/usabilla/prometheus-node_exporter/tree/swap), but both of these lack tests. Creating an issue to claim this task; I should be ready to raise a PR soon.

[2019-12-12 11:36] discordianfish commented on #244
Great, thanks!

[2020-01-09 09:02] safwanolaimat opened #255 "Feature - Watching Process Resources Changes"
Its good to have Feature Watching process Resources Allocation Changes

[2020-01-15 12:47] discordianfish commented on #255
This is out of scope for this project. You can use Prometheus and https://github.com/prometheus/node_exporter to monitor resource usage etc.

[2020-01-15 12:47] #255 closed

[2020-01-15 13:45] SuperQ commented on #255
For monitoring individual processes, there is the [process-exporter](https://github.com/ncabatoff/process-exporter).

[2020-01-15 18:12] pgier opened #256 "/proc/cpuinfo parsing crashes on s390x"
The current logic for parsing /proc/cpuinfo is written for x86 platforms, but doesn't really handle other formats currently.  The worst case is probably s390x which causes an array index out of bounds panic.

[code]

This is due to format of `/proc/cpuinfo` being significantly different from the x86 version.  Here's an example which causes the panic:
[code]

[2020-01-23 15:34] #239 closed

[2020-01-23 21:13] pgier commented on #244
Fixed by #246

[2020-01-23 21:13] #244 closed

[2020-02-04 16:11] francescsanjuanmrf opened #259 "Add parser for FSCache"
If fscache is enabled (https://www.kernel.org/doc/Documentation/filesystems/caching/fscache.txt) stats will be found in /proc/fs/fscache/stats

Will be great to have this data available.

This is an example of the output:
[code]

[2020-02-05 05:46] hamiltont commented on #201
Happy to take this one on. I already have a bit of related code+tests from [my work on systemd-exporter](https://github.com/hamiltont/systemd_exporter/tree/feat/add-circleci/cgroup) that I was hoping to upstream. I may need some help with building the best possible API in go, so if anyone would be willing to act as a sounding board please comment here and I will tag you when there is a specific co

[2020-02-06 16:41] francescsanjuanmrf commented on #259
I write a PR (https://github.com/prometheus/procfs/pull/262) for this enhancement. But codespell tests are failing. The problematic words are keywords to parse /proc/fs/fscache/Stats output.
Can anyone review it and check if it is ok? I'm open to any change.

[2020-02-11 15:16] SuperQ opened #263 "Add new disk stats fields"
It looks like 5.5 added two new fields to the disk stats.

* https://www.kernel.org/doc/Documentation/ABI/testing/procfs-diskstats
* https://lore.kernel.org/patchwork/patch/1156916/

[code]

The time is counted in milliseconds.

[2020-02-12 13:43] shibumi commented on #95
Hi,
I've thought I am going to revive this thread, because I have finally time to work a bit on this issue.
As mentioned in the PR, I have developed a multiline regex for parsing the smb1 and smb2/smb3 groups. This multiline regex is ugly as hell and looks like this:

[code]

Any comments on this before I start coding?

(Short Recap: We want to have SMB1 and SMB2/SMB3 statistics in procfs, but the

[2020-02-21 16:22] SuperQ opened #266 "Add parser for /sys/block/<device>/queue"
https://www.kernel.org/doc/Documentation/block/queue-sysfs.txt

There are a number of useful files in this subsystem.

Related to https://github.com/prometheus/node_exporter/issues/1601

[2020-02-26 10:06] kozl commented on #217
Have been done in https://github.com/prometheus/procfs/pull/254

[2020-03-02 17:51] dswarbrick opened #272 "netclass collector fails with permission errors on InfiniBand interfaces"
Collector fails with errors such as:
[code]
As far as I can tell, this is because the collector ranges over all files in the directory, and tries to read their contents if they are a regular file. In the case of InfiniBand interfaces, there are two files which are not world-readable (and in fact not even intended to be read by root):
[code]
For those unfamiliar with InfiniBand, the `create_child`

[2020-03-02 21:44] dswarbrick commented on #272
I'm not sure if this quite qualifies as a regression, but certainly change in how this collector is implemented, introduced by #198, resulted in this bug.

IMHO, I think that blindly reading every file in a sysfs or procfs directory is inherently fragile and potentially even dangerous. Suppose some new kernel introduces a new entry in the directory that produces a massive amount of data when read

[2020-03-13 14:36] SuperQ commented on #272
Good catch, I'll get the procfs fix merged as soon as it's ready.

[2020-03-17 00:43] #272 closed

[2020-03-17 00:47] #217 closed

[2020-03-23 19:28] #201 closed

[2020-03-25 00:17] weikinhuang opened #275 "mountstats error: invalid NFS per-operations stats"
### Host operating system: output of `uname -a`
[code]

### node_exporter version: output of `node_exporter --version`

v0.18.1

### node_exporter command line flags

[code]

### Are you running node_exporter in Docker?

yes

### What did you do that produced an error?
Just trying to get stats on my nfs volume mounts (k8s).

### What did you expect to see?
No errors, and stats in grafana.

### Wha

[2020-03-25 13:19] pgier commented on #275
Looks like there was a new field added in the 5.3 kernel (https://github.com/torvalds/linux/commit/a332518fda4731c07394164b3edcbb6efaf4c4d7) and we are only handling a specific number of fields.  So the first thing to fix is that we should be checking that the number of fields is `>= numFields` instead of `= numFields` (https://github.com/prometheus/procfs/blob/8068798bcbd1702c3fc908a35f28e98b41f3

[2020-03-25 13:34] weikinhuang commented on #275
@pgier Sure, I can give it a try

[2020-03-25 17:16] shibumi commented on #95
Hi,
I made a proof of concept exporter with the related multiline regex:

https://github.com/shibumi/cifs-exporter

You can have a look over it and decide if this is the functionality you would want to see in procfs. It's the best solution I came up with.

[2020-03-25 22:26] weikinhuang commented on #275
Unfortunately, I'm not too familiar with golang, and creating dynamic length arrays

[2020-03-26 19:01] pgier commented on #275
@weikinhuang Ok, no problem, I created PR #276 to address this and added your mountstats example to the tests.

[2020-03-26 19:06] weikinhuang commented on #275
thank you so much, also learned a little bit of go, i thought you can only have static arrays.

[2020-04-09 21:57] HowToMeetLadies commented on #46
cat /sys/class/thermal/thermal_zone2/mode
**disabled**

journalctl -fu node_exporter
level=error caller=collector.go:161 msg="collector failed" name=thermal_zone duration_seconds=0.000795087 err="read /sys/class/thermal/thermal_zone2/temp: **invalid argument**"

[2020-04-11 13:50] #275 closed

[2020-04-22 21:11] dimalo opened #283 "Fix parsing of negative thermal_zone temps"
Hi! I have an issue using node_exporter on an Intel NUCi3BEH running Debian Buster.

[code]

Setting up lm-sensors and basically hitting enter till the end I get these sensor values:
[code]

I'm not running on liquid nitrogen :smile:

node_exporter logs give me following error log:

[code]

It seems like procfs expects only uint [here](https://github.com/prometheus/procfs/blob/master/sysfs/class_t

[2020-05-02 11:55] binjip978 commented on #283
hello, would like to help with this one, opened #287

[2020-05-05 11:58] #256 closed

[2020-05-05 15:38] pgier commented on #283
Fixed by #287

[2020-05-05 15:38] #283 closed

[2020-05-05 15:40] pgier commented on #259
Fixed by #262

[2020-05-05 15:40] #259 closed

[2020-05-05 15:41] pgier commented on #188
Closing this, since I think there is nothing else to do for now.

[2020-05-05 15:41] #188 closed

[2020-05-08 16:39] binjip978 commented on #263
hello, opened PR regarding this issue #289

[2020-05-12 12:46] bluecmd opened #291 "No CPUInfo for all ARM"
Hi,

There has been changes in the CpuInfo part in the recent past, and e.g. https://github.com/prometheus/procfs/pull/290 adds some support for some ARM CPUs. However, that's only for v6.

Could we maybe enable parseCPUInfoARM for all ARM versions?

[2020-05-12 15:10] discordianfish commented on #291
@bluecmd Makes sense, feel free to submit a PR to add all other ARM versions (assuming they have the same cpuinfo format)

[2020-05-12 15:18] bluecmd commented on #291
Well, I can make sure to test it for a v5 ARM - but it seems unlikely to me that the format would be a function of the version of the instruction set. If there are ARM CPUs that have a separate format, likely they need to be handled by some other means than filtering by ARM version.

[2020-05-12 15:21] discordianfish commented on #291
Yeah I think it's reasonable to enable this on all arm versions. If the format should be different, it will just return an error which isn't worse than have a compile error I guess.

[2020-05-12 16:25] bluecmd commented on #291
So, it seems like what you have currently in tree is something quite special, ARM-wise.

Right now parseCPUInfoARM works for only a format that was [used 15 years ago](https://github.com/torvalds/linux/commit/1555972231f3202f00e04f7c42d2db858e11b874) and since then has been replaced with a format that looks like this:

[code]

This new format is quite close to the x86 format, FWIW.

I can help fix

[2020-05-12 16:34] discordianfish commented on #291
Uh.. hrm, that's unfortunate. @pgier thoughts?

[2020-05-12 16:41] bluecmd commented on #291
My apologizes, I got the commit wrong - it seems this was changed [8 years ago in this commit](https://github.com/torvalds/linux/commit/b4b8f770eb10a1bccaf8aa0ec1956e2dd7ed1e0a). So from v3.8-rc1 and later.

[2020-05-13 16:04] discordianfish commented on #291
It's close but not identical to x86 I assume?

[2020-05-13 16:05] #291 closed

[2020-05-14 06:00] binjip978 commented on #266
Would like to help with this one and have two questions:
It will be ok if we will return queue stats for particular device, like this?
[code]
And for optional fields like `throttle_sample_time` it's ok to use pointer in BlockQueueStats structure?

[2020-05-14 18:28] bluecmd commented on #291
Right, looking at x86 you're extracting many x86 specific attributes that ARM does not have, and likewise ARM has some things that x86 does not have - like "CPU architecture".

Do you wish to re-use this issue, or should we move to a new issue for upgrading the formatting for ARM?

[2020-05-15 10:12] discordianfish commented on #291
New issue would make sense I think

[2020-05-15 10:51] candlerb opened #293 "Handle thermal zones which return ENODATA for temp"
This is linked to https://github.com/prometheus/node_exporter/issues/1703 - full details to reproduce are there.

I have a system with 5 thermal zones. However one of them returns ENODATA for the temp field:

[code]

This error causes node_exporter to return no thermal data at all: in the [loop](https://github.com/prometheus/procfs/blob/master/sysfs/class_thermal.go#L50) which collects results, if

[2020-05-15 11:05] bluecmd opened #294 "CPUInfo for ARM and Linux kernels newer than 3.8"
From #291 it was concluded that the current parsing code is limited to kernels [older than 3.8](https://github.com/torvalds/linux/commit/b4b8f770eb10a1bccaf8aa0ec1956e2dd7ed1e0a).

Problematic code is:
https://github.com/prometheus/procfs/blob/7a44272e0d68eea081a6f7e08430150a286eb734/cpuinfo.go#L189-L233

This code should be changed to either drop support for older kernels, or be capable of parsin

[2020-05-15 11:06] bluecmd commented on #291
Done, https://github.com/prometheus/procfs/issues/294

[2020-05-22 22:30] pgier commented on #293
Thanks for the detailed bug report!  I created #300 to fix this using the second approach you suggested.  Please take a look.

Although I also kind of like the first suggestion since this would allow someone to still have access to the remaining fields even if the temperature is not available, and ENODATA seems like a valid response for a temperature sensor.  @SuperQ wdyt?

[2020-05-23 06:07] candlerb commented on #293
LGTM, and good cleanup to return nil slice rather than empty slice on top-level error.

[2020-05-27 13:49] pgier commented on #294
I believe this is resolved now with the merge of #296

[2020-05-27 13:49] #294 closed

[2020-05-27 13:50] pgier commented on #266
I believe this is resolved with the merge of #299

[2020-05-27 13:50] #266 closed

[2020-05-27 13:51] pgier commented on #263
Resolved by #289

[2020-05-27 13:51] #263 closed

[2020-05-27 14:49] #293 closed

[2020-05-28 07:27] SuperQ opened #304 "Handle cpufreq files with <unknown> values."
Some systems produce `<unknown>` values for cpufreq files.

See: https://github.com/prometheus/node_exporter/issues/1710

[2020-06-14 12:21] SuperQ opened #310 "Use Go 1.13 error handling verb"
When using `fmt.Errorf()`, we should use the new [`%w` error verb](https://blog.golang.org/go1.13-errors) so that error messages can be unwrapped.

This would make the minimum Go version be 1.13, so we should make sure client_golang is OK with this.

[2020-06-14 12:22] SuperQ commented on #310
cc @beorn7 about the client_golang interaction.

[2020-06-14 13:43] beorn7 commented on #310
There is no fixed policy, but unless it's prohibitively cumbersome, I'd like to support three to four past Go versions, which is currently back to Go 1.12 or 1.11.

Could we use a build tag to keep supporting older build versions for a while?

[2020-06-14 13:48] SuperQ commented on #310
We could, but there's no rush to do this change. It's just a nice to have to allow more verbose library errors, while still being able to parse "no such file or directory" errors.

[2020-06-18 05:42] binjip978 commented on #139
Probably this commit https://github.com/prometheus/procfs/commit/9654394ca94a53f3922b7322a923863f9558d399 address this issue pretty well, or something else need to be done?

[2020-06-22 15:35] discordianfish commented on #139
Yes, looks like this can be closed.

[2020-06-22 15:35] #139 closed

[2020-07-10 10:02] SuperQ opened #317 "Use pointers in Meminfo struct"
In order to handle the variability of /proc/meminfo between kernel versions, the Meminfo handler struct should use pointers to uint64. For example, MemAvailable doesn't exist on older kernels.

[2020-07-31 20:38] eclipseo opened #319 "Test failures: Int overflow on 32 bits arches"
Go 1.15 rc 1 on Fedora Rawhide armv7h and i686:

[code]

[2020-08-11 14:26] discordianfish commented on #319
This happens with current master? I though https://github.com/prometheus/procfs/pull/314 should have fixed this.

[2020-08-11 21:53] eclipseo commented on #319
I am packaging the latest released version 0.1.3 / 2020-06-14. I will try with a patch from master.

[2020-08-11 22:27] eclipseo commented on #319
Ok it works with x86_32 now. And armv7hl fails with another reason.

[2020-08-11 22:27] #319 closed

[2020-09-18 08:09] uselessscat opened #330 "Go panic error when building node exporter"
Hi, I'm trying to monitor a Raspberry Pi 4 with prometheus (for hobby/learning) but i have to compile node_exporter. I'm having some troubles when i try to make the node exporter. Here are the details ->

Config:
- Raspbian 10
- Go 1.15.2 ARMv6l
- Node_exporter v1.0.1
- procfs v0.1.3

I use a [simple script](https://github.com/uselessscat/raspberry-prometheus-elasticsearch/blob/main/raspberry/inst

[2020-09-18 09:52] SuperQ commented on #330
Looks like there may be a bug in the procfs library.

[2020-09-18 22:10] uselessscat commented on #330
@SuperQ I updated the issue

[2020-10-01 13:27] simonpasquier opened #333 "Improve CPU information for physical s390x platforms"
The [current code](url) for s390x CPU doesn't provide full information for physical Z machines (as opposed to virtual Z machines). In particular `CPUInfo.CoreID` and `CPUInfo.PhysicalID` are missing (but other fields could probably be added too).

See https://bugzilla.redhat.com/show_bug.cgi?id=1882730 which has a copy of `/proc/cpuinfo` from a physical machine.

[2020-10-02 19:15] bisakhmondal commented on #218
Hii @SuperQ, I'd love to work on this issue. Could you please guide me? Thanks.

[2020-10-02 21:13] SuperQ commented on #218
Sure, do you have a device that is using flashcache? For example, QNAP NAS devices?

If you don't, I can post some example data here. If you look at `meminfo.go`, you can see a general style for parsing the kind of files provided.

[2020-10-03 10:59] bisakhmondal commented on #218
Thanks @SuperQ for the reply. Sadly I don't have any such devices. Please do share some data.
Now I have got a fairly good idea about flash cache. So ultimately we have to just parse it, right?

[2020-10-03 11:59] SuperQ commented on #218
For procfs, it's a reasonably simple "parse the data and map it one-to-one with a struct".

I've added a PR with an example set of fixtures for you to test against.

[2020-10-05 08:24] #333 closed

[2020-10-09 12:21] bisakhmondal commented on #218
Thanks for the fixtures. I'll open a PR when it's done.

[2020-10-16 17:34] brandonbell opened #338 "Large Process Limits Fail To Parse"
Large process limits fail to parse due to the Regex being used as well as being type `int64`.

<details>
<summary>NTP Limits</summary>

[code]
</details>

The current regex fails to split the fields correctly due to a single space between the Soft Limit, Hard Limit, and Units fields:
https://github.com/prometheus/procfs/blob/aa47f9d89cea5aaf43204594c92a9a8460544388/proc_limits.go#L77

Adjusting th

[2020-10-31 03:56] ikirker opened #341 "parseInfinibandDevice fails with Intel Omni-Path"
It looks like [`parseInfinibandDevice`](https://github.com/prometheus/procfs/blob/c5c7bc5412c9e3a99be2ae1d89a3943e0836176e/sysfs/class_infiniband.go#L121) expects to see a file `/sys/class/infiniband/<Name>/hca_type` for each Infiniband device. (As well as `board_id` and `fw_ver`.)

Unfortunately, [this doesn't seem to be provided by the Omni-Path driver](https://github.com/torvalds/linux/blob/989

[2020-11-03 01:54] ikirker commented on #341
Okay, so, I pulled the snippet from the fixtures ttar, and I also realised we have a different system that has similar Mellanox cards in, so I got the equivalent from there, and then I grabbed the equivalent from our OmniPath system.

<details><summary>Excerpt from <code>fixtures.ttar</code></summary>
<pre><code># ttar - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Path: f

[2020-11-20 12:55] danishprakash opened #342 "Parsing of /proc/sys/kernel/core_pattern"
I can raise a PR if you think this can be added.

[2020-11-24 10:30] discordianfish commented on #342
Seems reasonable, go for it!

[2021-01-11 15:39] #317 closed

[2021-01-21 14:49] elezar opened #353 "Cgroup paths containing ":" are not supported"
Considering https://github.com/prometheus/procfs/blob/bc932d6aaa40fc66d46db859e9e03d954dc622c1/proc_cgroup.go#L52 it is clear that if the path contains additional ":" characters, the path will be truncated.

Colons may be inserted, for example when running kubernetes with containerd using a `systemd` cgroup-driver.

See:
* https://github.com/containerd/containerd/blob/c35b4cfed520bf4827737f294f929

[2021-01-24 20:33] discordianfish commented on #353
Good catch, yeah this seems to be a bug. Can you submit a PR to change the lines as suggested?

[2021-01-25 14:30] elezar commented on #353
I see that #260 added an explicit check and a test that would have to be modified.

The `name` on the test is:

Before I go and change this -- which I'm happy to do -- it may be good to get @hamiltont (who authored the PR) and @pgier who reviewed it to weigh in here.

[2021-01-25 16:32] hamiltont commented on #353
Nice bug report. Here is a screengrab of the relevant bit of conversation from the linked PR. It was buried deep it the thread as an outdated discussion, but luckily Github preserved it for us :) Seems to me you could continue addressing this concern when using `SplitN` (I'm no expert at golang, so this may have just been my lack of knowledge that caused me to use Split). Feel free to update the d

[2021-01-26 16:38] elezar commented on #353
Yes, I saw the discussion you posted, but it does not really answer my question. This functionality seems to cover hypothetical future situations, but currently breaks in at least one real-world use case (containerd under kubernetes uses `:` to separate path components when systemd is used as a cgroup driver).

My proposal would be to only handle the first **two** `:` characters and assume that ev

[2021-01-26 17:36] discordianfish commented on #353
Yeah, I was under the impression that : is a reserved separator. Looks like that's not the case, so the kernel can't introduce new fields and there is no need to worry about it.
So agreed that we should change:

	fields := strings.Split(cgroupStr, ":")
to

	fields := strings.SplitN(cgroupStr, ":", 3)
as @elezar suggested

[2021-01-26 18:55] elezar commented on #353
Thanks @discordianfish

With regards to:

Just for my information / education: where would one check / confirm this?

[2021-01-26 23:45] discordianfish commented on #353
If you find out, let me know :D I think the kernel source is the only way to verify. There doesn't seem to be much standards around these kind of things.

[2021-01-27 15:13] elezar commented on #353
I will do some digging when I get a chance, but for the time being I have created #354

[2021-02-03 08:52] #353 closed

[2021-02-09 15:25] roidelapluie opened #358 "unify error messages"
currently we have:

could not parse
failed to parse
error parsing
failed to read file ...
fail to scan

We should unify the error messages.

[2021-02-10 21:26] rfratto opened #359 "FreeBSD build error: undefined: syscall.ENODATA"
#300 seems to have introduced a regression on FreeBSD:

[code]

You can see from the [Go source](https://golang.org/src/syscall/zerrors_freebsd_amd64.go) that ENODATA isn't an error on FreeBSD.

Unfortunately, I don't understand this enough myself to try to contribute a fix, but this is preventing me from building node_exporter for FreeBSD.

[2021-02-11 14:54] SuperQ commented on #359
Hrm, that file should probably have a build tag to avoid being used on FreeBSD.

[2021-02-11 17:33] rfratto commented on #359
Ah, that makes sense since thermal zones are only [used in Linux](https://github.com/prometheus/node_exporter/blob/306a3653779c13244b2dc72f5bdd6098a56f83ef/collector/thermal_zone_linux.go). It looks like sysfs is Linux specific, maybe all of these files should have `// +build linux` instead of `// +build !windows`?

[2021-02-13 04:43] alexal commented on #358
@roidelapluie I just created PR #360. Please check it out and let me know if I need to change something. Thanks.

[2021-02-14 07:23] SuperQ opened #361 "Infiniband parseRate fails on Melanox card"
Linux: 4.14.24
mlx5_ib: Mellanox Connect-IB Infiniband driver v4.3-0.1.6

The format of the `rate` file is slightly different:
[code]

This happens with the SFP+ slot is unpoulated.

[2021-02-16 09:42] #361 closed

[2021-02-18 04:32] MisLink opened #363 "Add `delayacct_blkio_ticks` in /proc/[pid]/stat"
sysstat(pidstat) use `delayacct_blkio_ticks` which is in `/proc/[pid]/stat` for computing process io delay, add this field to procfs will be nice.

[2021-02-18 13:34] SuperQ commented on #363
There are a bunch of additional `/proc/[pid]/stat` fields we could parse. Go requires Linux >= 2.6.23 so we can for sure parse up to that field.

We would need to implement variable parsing to pull out the rest of the fields.

[2021-02-23 06:47] SuperQ opened #364 "Make net tcp/udp read limit configurable"
Right now the readLimit is a const 4GiB.

For use in the node_exporter, it would be useful to allow a max limit of the read size to avoid allocating too much memory when a system is already under heavy load.

[2021-03-07 17:04] jooola opened #367 "Proposal: Put procfs package files into /pkg folder"
In order to clean the root folder of the project, I propose to move all `procfs` package file into its own pkg folder. Just like in `prometheus/prometheus`.

I think global project file and code should not stay in the same place.

[2021-03-07 17:10] jooola opened #368 "Proposal: Make fixture archive / tree per package instead of global"
I propose to explode the single fixture archive / tree into multiple trees, in order to prevent collisions with other packages when updating the fixtures.

For instance, I was adding some fixtures for a new sysfs md array parser, but when adding a new `md0` device to `/sys/block/md0` the tests for the `blockdevice` failed.

Maybe we actually rely on having a single tree, to prevent creating duplic

[2021-03-08 10:55] discordianfish commented on #367
Prometheus is an application shipping binaries, procfs is a pure library. I think we're following best practices here already.

[2021-03-08 10:55] #367 closed

[2021-03-08 10:56] discordianfish commented on #368
I don't really see a point in duplicating the fixtures. If we have a new collector that wants to test one edge case and another one test another edge case and therefor requiring the same files with different contents, we can revisit this. But I don't think there is a reason to change anything in advance.

[2021-03-08 10:56] #368 closed

[2021-03-13 12:16] #359 closed

[2021-03-24 03:10] MisLink opened #372 "Why uid and gid in /proc/[pid]/status have been parsed as string?"
As far as I know, they are uint32

[2021-04-11 09:00] corny opened #377 "Using stretchr/testify"
Do we want to use https://github.com/stretchr/testify to simplify tests?

[2021-04-11 13:03] SuperQ commented on #377
No objection from me, we use it in other Prometheus repos.

What do you think @discordianfish?

[2021-04-14 17:23] discordianfish commented on #377
Sure, assuming it simplifies the tests

[2021-04-19 18:49] SuperQ opened #379 "Limits returns 64-bit max for VSS on all platforms"
In https://github.com/prometheus/procfs/pull/340 we fixed the Limits value for "unlimited" to be max uint64. But this value would be incorrect for 32-bit systems, and could depend on kernel/user VM split configuration.

Now I'm also wondering if it's actually valid that 64-bits is the right value for VSS max for Intel 64bit, given there is still probably some kernel reserved address space in 64-bi

[2021-04-22 17:22] SuperQ commented on #379
I've been digging into this a bit, and there's a bunch of issues with the current values for `process_virtual_memory_max_bytes`.

When we detect "unlimited" we output uint64 max. This is very wrong for 32-bit systems, and partly wrong even for 64-bit systems.

For example, it depends on kernel compile flags for 32-bit systems (CONFIG_VMSPLIT_3G etc). On 64-bit, it's architecture dependent, and ker

[2021-04-22 17:31] beorn7 commented on #379
How about `+Inf` in that case? It looks we have no way of determining the true value. We cannot use the string "unlimited" as the value of the metric, but `+Inf` seems to match it quite well.

[2021-04-23 07:57] SuperQ commented on #379
Yea, +Inf is also an option. The down side is it's also not exactly true, since the real value is there.

Perhaps we should not expose the metric in client_golang if the value is +Inf.

[2021-04-23 15:24] SuperQ commented on #379
The function currently returns a uint64, so there's no `+Inf` option.

[2021-04-26 17:51] beorn7 commented on #379
How many fields in the `ProcLimits` could have that "unlimited" string in their source field? If that's common, perhaps change the value from `uint64` to a struct `{uint64, bool}` where the bool says if it is set to unlimited?

We could document in the help string of the proc metrics that a Prometheus floating point value of `+Inf` means that the limit is set to `unlimited`.

[2021-04-26 17:52] beorn7 commented on #379
Disclaimer: I might totally misunderstand the context here. (But just not exposing a metric sounds weird.)

[2021-04-27 10:34] SuperQ commented on #379
The problem is that "unlimited" doesn't actually mean the value in bytes is "+Inf". There are hard limits imposed by the platform and kernel, and configuration combinations. This is mostly not an issue on 64-bit platforms, but can be very limiting on 32-bit.

So, exposing the value as +Inf is not true.

[2021-04-27 17:45] beorn7 commented on #379
I got that. That's why I said it has to be documented.

However, if I understand you correctly, it's highly non-trivial to find out what the true value is if what we get is `unlimited`.

Not exposing the metric means the metric doesn't exist. It does not communicate "The value is reported as `unlimited` by the kernel. That doesn't mean it is actually unlimited. It means there is a limit which we c

[2021-04-27 17:46] beorn7 commented on #379
Of course, if there _is_ a way to find out the true value, then let's just use it.

[2021-05-17 03:30] Xphobia commented on #304
Any progress on this issue ?

[2021-06-01 18:18] discordianfish commented on #304
I don't think so, feel free to submit a PR to fix this

[2021-06-11 13:51] knweiss opened #386 "zoneinfo: 'per-node stats' sections seem to confuse the parser"
On RHEL 8.3 and 8.4 kernels there seems to be a parsing issue in node-exporter 1.1.2's zoneinfo collector which is based on procfs.

Example:
[code]
Notice, there's not even a `zone="Normal"` label for node 1 or a `zone="DMA"` label for node 0!

From a quick look I suspect this is caused by the "per-node stats" lines of /proc/zoneinfo. The parser resets `zoneinfoElement.Zone` when it sees such a l

[2021-06-14 14:13] seb45tian commented on #341
@ikirker would you consider making a PR with your fix to this repo? Otherwise I think this will not be fixed any time soon.

[2021-06-14 15:55] ikirker commented on #341
@seb45tian Ah, sorry, I made that naive fix, but making a test for it seemed surprisingly awkward, and then I realised I wasn't sure what to do with OmniPath adapters with respect to [this maybe-Mellanox-specific multiplier](https://github.com/prometheus/procfs/blob/master/sysfs/class_infiniband.go#L266).

And then I had to shelve it to handle a bunch of other work before I really got a chance to

[2021-06-15 13:39] knweiss commented on #386
Here's a complete `/proc/zoneinfo` file: [zoneinfo.txt](https://github.com/prometheus/procfs/files/6655988/zoneinfo.txt)

[2021-06-17 00:19] ikirker commented on #341
@seb45tian I think this should fix it but I haven't done the node_exporter rebuild yet. (It's late. 😴)

Apart from the actual test in the PR, so far I've only tried it with a little stubby program that sets up the sysfs, detects all the IB devices, and dumps out the struct:

[code]

[2021-06-17 06:59] seb45tian commented on #341
@ikirker thank you for your efforts! I would definitely have failed at getting those tests work. I also rebuild the node_exporter with this fix and, for me, it works flawlessly!

I also looked into the whole [multiply by 4 issue](https://github.com/prometheus/procfs/blob/master/sysfs/class_infiniband.go#L266) and even though I could not find anything specific about how OmniPath treats this counter

[2021-06-23 07:49] #363 closed

[2021-06-24 20:51] qdm12 opened #389 "Any breaking changes since v0.1.3?"
Hi there,

I'm on a quest to upgrade the dependency on this library in public repositories, usually from v0.1.3 to v0.3.0 (v0.6.0 ideally though), in order to support the riscv64 architecture (for example at https://github.com/golangci/golangci-lint/issues/2079).

Builds with the upgraded v0.6.0 library still work without issue, but we are wondering if you could tell us if you know any particular

[2021-07-05 15:18] #341 closed

[2021-07-05 15:20] discordianfish commented on #389
We don't maintain a changelog for procfs unfortunately since the main intention of this library is being used in the node-exporter where we do maintain a changelog and we have limited resources.

[2021-07-05 15:20] SuperQ commented on #218
Going to close this, the facebook patches are abandoned and never went into mainline. There's really no point in supporting this.

[2021-07-05 15:20] #218 closed

[2021-07-05 15:26] qdm12 commented on #389
Makes sense. I'll dig in the release notes of node-exporter as well then, thanks. I might comment here with any breaking change I find.

Maybe keeping a changelog in the future would be nice, since it seems to be used a bit across key Go libraries out of Prometheus (kubernetes, helm, etc.).

Thanks !

[2021-07-05 15:26] #389 closed

[2021-07-06 09:14] discordianfish commented on #389
@qdm12 Yeah we discussed that. I guess this issue was the reason for @SuperQ to bring it up? So yeah with people actively asking for it it probably makes sense to start a changelog.

[2021-07-07 14:53] matej-g opened #396 "powercap: RAPL zone 'package' appears duplicated with identical index and name"
I have been trying out the [node exporter](https://github.com/prometheus/node_exporter) on my machine when I noticed the `rapl` collector was filling up the logs on each scrape with error:

[code]

After dumping out some more info about the zones in the node exporter's [rapl collector](https://github.com/prometheus/node_exporter/blob/master/collector/rapl_linux.go#L70), I noticed that the `package

[2021-07-17 07:19] binjip978 commented on #386
@discordianfish I can look at it

[2021-07-23 00:42] anacrolix opened #400 "Test failures from get test all in downstream project"
Running `go test all` from a project depending on this repo gets:
[code]

[2021-07-23 07:05] SuperQ commented on #400
You will need to include the fixtures in order to run these tests.

[2021-07-23 08:43] #386 closed

[2021-07-25 02:36] anacrolix commented on #400
Sorry I don't know where those are. Could they be included or linked appropriately from the unit tests so that they run correctly?

[2021-07-25 14:37] SuperQ commented on #400
It's in the Makefile.

[2021-07-25 14:37] #400 closed

[2021-07-26 12:54] gdejong opened #401 "strconv.ParseInt: parsing "18446744073709551615": value out of range"
After upgrading `prometheus/procfs` from `0.6.0` to `0.7.0` the `process_cpu_seconds_total`, `process_virtual_memory_bytes` and `process_resident_memory_bytes` metrics from `prometheus/client_golang` were no longer outputted.

We have a Go service running in a Docker container.

Using the `ReportErrors` option from `ProcessCollectorOpts` I was able to display the error.
[code]

Scraping the metric

[2021-07-26 19:15] gdejong commented on #401
Some extra information.

The `/proc/<pid>/stat` format is defined here: https://man7.org/linux/man-pages/man5/proc.5.html

All fields are listed there with their proper scanf format (https://man7.org/linux/man-pages/man3/scanf.3.html)

The 25th and 35th element are defined as:

[code]

`l` - Indicates either that the conversion will be one of d, i, o, u, x, X, or n and the next pointer is a pointe

[2021-07-27 11:43] vykulakov commented on #401
Noticed the same issue with parsing /proc/[pid]/stat on some machines:
[code]
It happened on parsing the following stat file:
[code]
The code that I used to build that test program is this (the last error check fires):
[code]
The test program is run on the following kernel:
[code]
On kernels with version 5.10 all works fine (what a relief).

[2021-07-27 11:45] vykulakov commented on #401
But we cannot just replace the `int` type for the `ignored` variable with the `uint64` type because this variable is also used for the field 21:
[code]
that means signed long. The code should have different ignored variables for different fields, I guess.

[2021-07-27 12:56] vykulakov commented on #401
I'll prepare PR.

[2021-07-27 13:09] gdejong commented on #401
I agree, multiple `ignored` variables with different datatypes would be appropriate.

[2021-07-27 13:40] vykulakov commented on #401
@gdejong thank you for the links right here.

Please, review the PR and maybe it will be merged soon. Thanks.

[2021-07-27 14:50] vykulakov opened #403 "Change stat data types to match the related kernel data types"
The [man page](https://man7.org/linux/man-pages/man5/proc.5.html) for `/proc/[pid]/stat` describes data types that should be used to parse particular values in this stat file. So the following information about data types may be obtained from there:
[code]
Here things like `%d` and `%lu` are [scanf(3)](https://man7.org/linux/man-pages/man3/scanf.3.html) format specifiers (according to the man page

[2021-07-27 16:12] #401 closed

[2021-07-29 11:31] vykulakov commented on #403
Well, I made a mistake in my conclusion. In C they just specify the minimum size of data types like `int` and `long`. So the real data type sizes depend on implementations and finally on particular machine architectures.

You may check the Wikipedia for details and other resources:
* https://en.wikipedia.org/wiki/C_data_types
* https://www.ibm.com/docs/en/ibm-mq/9.2?topic=platforms-standard-data-t

[2021-07-29 11:31] vykulakov commented on #403
I'll prepare a fix for those two fields.

[2021-07-31 01:23] anacrolix commented on #400
🤦

[2021-08-02 15:23] bluecmd opened #405 "VRF association in NetClassIface"
Hi,

One metric dimension that I am missing from Node Exporter is the [VRF](https://www.kernel.org/doc/Documentation/networking/vrf.txt) association for interfaces.

It looks like the current implementation relies on reading `/sys/class/net`. For VRFs this is visible as a generic `upper` (or `master`) / `lower` hierarchy.

Example:
[code]

However, sadly, the `VrfKamel` master directory does not c

[2021-08-03 09:22] discordianfish commented on #405
Yeah using netlink would be the way to go. Seems reasonable to add!

[2021-08-08 22:25] Turgon37 opened #407 "Conntrack parsing issue "/proc/net/stat/nf_conntrack" does not exist"
I'm running a full ipv6 linux host with nftables (iptables replacement)

I'm notice that conntrack node-exporter collector is failing on all hosts because "conntrack probably not loaded"

I've followed the source code until line https://github.com/prometheus/node_exporter/blob/4d0c1650b5a8f9c653188a18c8d36354365b4720/collector/conntrack_linux.go#L130

A little strace show this failure in opening a

[2021-08-08 22:34] Turgon37 commented on #407
Nothing here seems to replace the missing counters file https://www.kernel.org/doc/html/latest/networking/nf_conntrack-sysctl.html

[2021-08-08 22:42] Turgon37 commented on #407
I've found this old kernel patch https://patchwork.ozlabs.org/project/netfilter-devel/patch/20120627110147.GA25605@1984/ related to how "/proc/net/stat/nf_conntrack" is produced nowadays. I can understand that the module nfnetlink_conntrack is responsible to produce theses counters, but according to my previous "lsmod" It seems to be required by nftables as for netfilter so it is also enabled.

[2021-08-16 07:23] jenningsloy318 opened #408 "add support for /proc/vmstat"
Hi,
is is possible to add `/proc/vmstat`, then we can use to get the current dirty pages, currently only `/proc/sys/vm/` are  implemented

[2021-08-16 07:25] #408 closed

[2021-09-12 07:09] binjip978 commented on #407
I don't think there is an issue with procfs or node-exporter. If stat file is missing the node exported will print debug message "conntrack probably not loaded" but maybe the message is slightly misdealing, because some metrics exists and module nf_conntrack is loaded. But if stat file is here it will return it as well. Also it's not clear to me how to turn on/off stat file presence,  looks like n

[2021-09-18 08:58] binjip978 commented on #396
Hi, @matej-g, @discordianfish i don't think it's a bug in procfs. The names can be identical, but path probably cant. Here is an example from my machine:
[code]
In both cases the name is package-0, but path should be different, so to fix it we only need change node-exporter part to something like this:
[code]
And the end result will be like this:
[code]
Alternatively we my need to change metrics n

[2021-09-19 07:15] und3f opened #413 "Incomple arp entries are returned with MAC address 30:30:3a:..."
Hello,
to reproduce the bug you have to ping wide LAN range, that will create a lot of incomplete entries, and, after execution `procfs.GatherARPEntries()`, incomplete entries are returned like:
[code]
while arp -n reports:
[code]
This is not critical as all incomplete entries may be filtered by MAC address, still it might be better to return such entries with empty MAC address

[2021-09-19 07:35] SuperQ commented on #413
The function gathers data from `/proc/net/arp`, can you include a sample output from that file? Normally, I would expect incomplete entries to have an address of `00:00:00:00:00:00`.

[2021-09-19 08:14] und3f commented on #413
Please check my commit for sample data. Also I've found that actually MAC addresses were parsing incorrectly, fixed that with `net.ParseMAC()` and incomplete entries become `00:00:00:00:00:00` as you described

[2021-10-28 15:19] bdrung opened #418 "Lnstat error: strconv.ParseUint: parsing "125ee882a": value out of range"
After upgrading to the latest prometheus-node-exporter build from today's master branch (commit 6523fdfc4b20f42269c849cde95a413c232d38a0) with procfs 0.7.3, we see some clusters have failing lnstat collectors:

[code]

The hex values comes from `/proc/net/stat/arp_cache`:
[code]

These hosts use a custom linux 5.4 kernel.

[2021-11-01 10:21] discordianfish commented on #418
Should be fixed by #419

[2021-11-01 10:21] #418 closed

[2021-12-01 12:49] biello opened #423 "read statistics in /proc/cgroups"
In some case, people may want to monitor statistics in /proc/cgroups on linux systems, I have already written some code for it.
will it be useful? if yes, I would like to contribute a pr. Thanks! @discordianfish

/enhancement

[2021-12-02 17:57] discordianfish commented on #423
It depends on the details, but in general we support /proc/cgroups already: https://github.com/prometheus/procfs/blob/master/proc_cgroup.go

What do you have in mind?

[2021-12-03 03:54] biello commented on #423
@discordianfish Current proc_cgroup.go reads /proc/[pid]/cgroup which describes infos for each process, not an overall view of control groups on the whole system. What I would like to read is the /proc/cgroups file, it contains relevant information.

[https://man7.org/linux/man-pages/man7/cgroups.7.html](https://man7.org/linux/man-pages/man7/cgroups.7.html) has a clear description about this file.

[2021-12-03 09:29] discordianfish commented on #423
Ah I see, yeah that seems reasonable to me!

[2021-12-10 09:01] biello commented on #423
Close this issue as https://github.com/prometheus/procfs/pull/424 is merged. 🍻

[2021-12-10 09:01] #423 closed

[2021-12-17 01:02] iustin opened #428 "Instantaneous vs. cummulative cpufreq stats"
Hi,

Looking around at issues such as #122 and #123, I see that in both cases, what is collected is the current (i.e. instantaneous) state of the CPUs, either hardware (`cpufreq_*` counters) or software (`scaling_*_freq`).

However, if compiled as such, the kernel does provide cummulative statistics via the `stats/` subdirectory - see https://www.kernel.org/doc/html/latest/cpu-freq/cpufreq-stats.h

[2022-01-10 13:26] #211 closed

[2022-01-14 00:07] eclipseo opened #430 "Go 1.18: Errorf does not support error-wrapping directive %w"
On Fedora Rawhide, x86_64, Golang 1.18~beta1:

[code]

This is due to this change: https://github.com/golang/go/issues/47641

[2022-01-14 17:27] eclipseo opened #432 "TestProcStatLimits: Int overflow on 32 bits arches"
On both i686 and armv7hl, TestProcStatLimits overflows:

[code]

[2022-01-21 20:47] #430 closed

[2022-02-13 19:43] nikakis opened #434 "Introduce support for `/proc/<algod PID>/net/snmp` and `/proc/uptime`"
Hello guys!
Would you consider a PR for enhancing support for `/proc/<algod PID>/net/snmp` and `/proc/uptime`?
Thanks!!!

[2022-02-13 20:59] SuperQ commented on #434
There's already `BootTime()` from `/proc/stat`, so `/proc/uptime` isn't as necessary.

Adding a parser for `net/snmp` would be useful. We currently have an old [parser in the node_exporter](https://github.com/prometheus/node_exporter/blob/master/collector/netstat_linux.go), It would be nice to migrate that to this codebase like we have been doing with other parsers.

[2022-02-13 21:44] nikakis commented on #434
Ok great!!!
I will do the migration @SuperQ. Is it possible to share with me a reference from a similar migration or give me a hint? Just to be sure that i will be in the right path.
Thanks!!!

[2022-02-13 22:26] SuperQ commented on #434
Take a look at the PR history in this repo, there are lots of good examples.

[2022-02-14 14:23] nikakis commented on #434
@SuperQ Please have a first look in the [PR](https://github.com/prometheus/procfs/pull/435)

[2022-02-16 00:17] callendorph commented on #330
This same bug is triggers when running on the NVIDIA Jetson TX2:

https://gist.github.com/callendorph/c8d2dc44682d91fa0769d70f0c875ecc

[2022-02-16 00:47] callendorph commented on #330
The strange thing is that if I create unit tests for both of these cases in `cpuinfo_test.go` - the parsing succeeds and doesn't throw an exception on master or at 1a7a2bd3279.

Here is a diff for the tests I added:

https://gist.github.com/callendorph/5e14c40cd445a14de6b031af54f9743c

So that is kind of strange. I'm gonna take a look more in detail at the `node_exporter` test case.

[2022-03-16 20:22] taintedkernel commented on #407
I discovered a related issue recently (no errors but stats not being exposed) and found this link https://serverfault.com/questions/1080112/statistics-proc-net-stat-nf-conntrack-is-missing-on-linux-server.  It seems the proc `nf_conntrack` file is disabled by default on a lot of newer kernels and the replacement is userspace `conntrack` binary.

I would love to see this functionality, but it looks

[2022-03-22 11:08] discordianfish commented on #407
We don't allow executing other binaries in the node-exporter. If there is no e.g kernel interface to it, this would need to be a separate exporter or use the textfile collector.

[2022-03-23 11:26] discordianfish commented on #407
We could probably get the conntrack stats via https://github.com/ti-mo/conntrack in the node-exporter if someone wants to take a stab at that.

[2022-04-03 16:12] nikakis commented on #434
I think this issue can be closed as the implementation is done in this [PR](https://github.com/prometheus/procfs/pull/435)

[2022-04-05 09:40] discordianfish commented on #434
Great!

[2022-04-05 09:40] #434 closed

[2022-04-22 12:37] espux opened #445 "bcache stat cache_readaheads was removed from Linux kernel 5.13"
This is a duplicate of [https://github.com/prometheus/node_exporter/issues/2103](url) but I believe it belongs to this project instead.

I fixed this locally by commenting out the following lines in get.go.

`//bs.Bcache.FiveMin.CacheReadaheads = par.readValue("cache_readaheads")`
`//bs.Bcache.Total.CacheReadaheads = par.readValue("cache_readaheads")`
`//bds.FiveMin.CacheReadaheads = par.readValue

[2022-04-25 20:20] #445 closed

[2022-05-19 09:18] chilversc opened #450 "MountStatsNFS parsing multiple transport (xprt) lines"
The mountstats for NFS mounts can contain multiple xprt lines when `nconnect` is greater than one. Because traffic is equally spread between all the connections, when nconnect is greater than 1, anything that reports on the NFS transport stats will report a lower value than expected.

The simplest option would be to change `MountStatsNFS.Transport` to a slice of `NFSTransportStats`. Though this wo

[2022-06-05 00:23] scottlaird opened #452 "Add support for Linux SAS classes"
Linux exports ~5 useful metrics per SAS PHY, which can be useful for debugging SAS performance problems and errors.  I'm planning on adding support for this to node_exporter (see https://github.com/prometheus/node_exporter/issues/2386), but I need to extract information from /sys first before I can do this.

The useful metrics are all in `/sys/class/sas_phy`, but we need data from `/sys/class/sas_

[2022-06-07 10:14] discordianfish commented on #450
That seems reasonable to me.

[2022-06-20 06:02] anguswilliams opened #457 "ReadFileNoStat causes issues collecting mountinfo with high number of mounts"
We have some unique hosts that have very high numbers of NFS mounts (1000+), which causes some issues with the 512kb limit imposed by ReadFileNoStat.

On some of the hosts, I have noticed errors like this cropping up, where the error shows a truncated mountinfo line.

[code]

Inspecting `/proc/self/mountinfo` for this mount shows no error and the line looks fine and has 11 space separated elements

[2022-06-20 08:23] SuperQ commented on #457
That is a lot of mounts.

* Go back to using a scanner.
* Make  `ReadFileNoStat` function have a configurable buffer size.
* Increase the default size to 1MiB.

Increasing the default max buffer size to 1MiB is probably the easiest thing to do.

[2022-06-21 13:09] #457 closed

[2022-07-09 11:57] tomhughes opened #459 "GetRaplZones fails with zone names of the form package-N-die-M"
I have a machine which, since a recent kernel upgrade, has rapl zones with names like `package-0-die-0` and `package-0-die-3` which confuse `GetRaplZones` as the name parsing at https://github.com/prometheus/procfs/blob/4ba3093565a1a6c72b1a89a8234a67dc8c560177/sysfs/class_powercap.go#L102 tries to parse `0-die-0` as a number and fails, leading to the whole thing being returned as the name.

In tur

[2022-07-09 12:12] SuperQ commented on #459
This is actually a bug in the node_exporter, not the library.

https://github.com/prometheus/node_exporter/issues/2299

[2022-07-09 12:12] #459 closed

[2022-07-09 13:54] tomhughes commented on #459
Ah apologies for that. I had actually started with the code when trying to figure this out but didn't realise it included unreleased fixes.

[2022-08-12 15:32] raybellis opened #462 "FreeBSD linprocfs and linsysfs compatibility"
FreeBSD contains optional `linprocfs` and `linsysfs` modules that provides a subset of the equivalent Linux pseudo-filesystems.  They are usually mounted in `/compat/linux/proc` and `/compat/linux/sys`.

It would be great if this module were able to detect these and support that subset of the functionality!

Without them, other Prometheus code such as the `Process` module from `client_golang` don'

[2022-08-22 13:45] discordianfish commented on #462
Interesting.. seems like a reasonable feature request.

[2022-09-06 12:28] dswarbrick commented on #432
Linking to PR #404 which introduced this regression.

The crux of the issue is that the shipped testdata fixtures will overflow ints in the ProcStat struct on 32-bit archs.

[2022-09-06 12:35] dswarbrick commented on #432
In terms of fixing this, we ran into a pretty similar situation before, which I fixed in #314, i.e. split the tests into 32-bit and 64-bit variants, using Go build tags to conditionally perform the right test on the right arch.

I guess it boils down to how imperative it is that we ship testdata fixtures which exercise the full range of machine-native ints / uints.

[2022-09-07 16:21] baryluk opened #465 "go 1.15 compatibility?"
Debian stable has go 1.15, but procfs uses few new library features:

[code]

Right now `os.ReadFile` and `io.ReadAll` are just convenience functions, so can be reimplemented directly in readfile.go?. (There is proposed Linux syscall for ReadFile as one syscall, instead of open, read, close, but it is not merged yet into kernel).

There is already very similar `SysReadFile` in util.

[2022-09-07 17:00] SuperQ commented on #465
Sorry, we dropped Go older than 1.17 for several Go API reasons. You can get Go 1.18 from bullseye-backports.

[2022-09-07 17:02] #465 closed

[2022-09-07 17:13] baryluk commented on #465
You right, will use `bullseye-backports`. It works. Thanks.

[2022-11-04 09:52] Dentrax opened #478 "Separate all parsing functions (or make public)"
### Motivation

As `procfs` already using `parseX(io.Reader)` functions for parsing proc filesystem files, some functions also _do_ syscall to _read_ the target file' content. The main pitfall of this is that procfs enforce us to use this package only on Linux. For the people who want to make some stuff using this package on other OS environments, it's slightly difficult.

### Proposal

* Separate

[2022-11-08 14:59] discordianfish commented on #478
This sounds reasonable to me. @SuperQ wdyt?

[2022-11-14 12:15] Dentrax opened #479 "Add support for `/proc/net/wireless` parsing"
To collect wireless RSSI values using procfs. We can also add this support to node_exporter once we implement this.

Example:
[code]

/assign

[2022-11-14 12:18] Dentrax opened #480 "Add support for `/sys/fs/cgroup/*` files"
procfs currently support `proc_cgroup` and `proc_cgroups` files but I'd like to get some useful information on `/sys/fs/cgroup/*` files:

[code]

Wdyt? Does it make sense?